lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.directory

pids
logs
results

npm-debug.log
node_modules
public/libs

config.js
app/dataset
public/files
public/imgs/eventos
public/imgs/publicaciones
public/imgs/carrusel