<div class="container my-container">
    <div>
        <h2 class="text-center color-title">
            Acerca del LAIS
        </h2>

        <div class="col-xs-12">
            <p class="font-larger">
                El Laboratorio Audiovisual de Investigación Social (LAIS) es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes.
            </p>
            <!-- <p class="font-larger">
                Creado en 2002 con un equipo multidisciplinario, el LAIS realiza estudios que incorporan imágenes y material audiovisual como fuentes primarias de investigación, sean estas recopiladas en diversidad de acervos y colecciones, o bien generadas desde la misma investigación; forma recursos humanos en esta línea de manera permanente; e impulsa la documentación y divulgación de investigaciones sociales y acervos documentales.
            </p> -->

            <p class="lead text-center mt-5" style="color: #294f6d;">
                Propósitos
            </p>
            <p class="font-larger">
                El LAIS desarrolla propuestas metodológicas de investigación social con imágenes e investigación audiovisual, partiendo de las imágenes y materiales audiovisuales como documentos y los desafíos que implica su construcción como fuentes de investigación.
            </p>
            <p class="font-larger">
                Las dos vertientes de trabajo se centran en las imágenes como fuentes primarias, ya sea procedentes de archivos o colecciones particulares, como también las generadas desde la misma investigación a través del trabajo de registro y documentación en campo. A su vez, prioriza los trabajos de divulgación que las incorporan en sus resultados, como documentales, exposiciones y sitios web.
            </p>

            <p class="lead text-center mt-5" style="color: #294f6d;">
                Actividades
            </p>
            <ul style="padding-left: 2em; font-size: 100%;">
                <li style="list-style-type: disc;">Fomentar el análisis del ambiente audiovisual en el cual estamos inmersos, a través de diversidad de eventos académicos </li>
                <li style="list-style-type: disc;">Construir propuestas teóricas, conceptuales, metodológicas, técnicas y sociales relacionadas con estos modos de incorporación de las imágenes y materiales audiovisuales como fuentes de investigación</li>
                <li style="list-style-type: disc;">Desarrollar mecanismos de acceso libre al patrimonio audiovisual y de procesamiento de datos catalográficos</li>
                <li style="list-style-type: disc;">Hacer investigación social con imágenes y materiales audiovisuales, con énfasis en documentales</li>
                <li style="list-style-type: disc;">Formar recursos humanos a través de cursos de especialización y cursos semestrales en los programas de estudio del Instituto</li>
            </ul>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Publicaciones
            </p>
            <p class="font-larger">
                Las publicaciones del LAIS incluyen libros, capítulos de libros, artículos, documentales, interactivos, exposiciones y sitios en línea. El LAIS obtuvo en 2014 el premio A. García Cubas que otorga el INAH, por su libro <span style="font-style: italic;">Tejedores de imágenes. Propuestas metodológicas de investigación y gestión del patrimonio fotográfico y audiovisual</span>.
            </p>
            <p class="text-center">
                <a href="https://lais.mora.edu.mx/publicacion" class="color-title">Ver publicaciones del LAIS <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Documentales
            </p>
            <p class="font-larger">
                Hemos producido documentales sobre diversas temáticas, como una historia oral del pueblo de Mixcoac, la vida de un ferrocarrilero jefe de estación en México, los problemas de la investigación social con imágenes y de los archivos que resguardan tales documentos, las pautas de cuidado y alimentación en una comunidad de niños y niñas que reflexionan sobre la exposición a la televisión comercial y su salud, y las prácticas de la exhibición de películas en la Ciudad de México, entre varias más.
            </p>
            <p class="text-center">
                <a href="https://lais.mora.edu.mx/publicacion?show=Documental" class="color-title">Ver documentales del LAIS <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Sitios web
            </p>
            <p class="font-larger">
                Desarrollamos mecanismos de acceso libre al patrimonio imagético y de procesamiento de datos catalográficos como el sitio Huellas de Luz, que da acceso a documentación e imágenes de América Latina de los siglos XIX y XX. O como MetaDOC, sitio que pone a disposición la catalogación de la colección de documentales del LAIS.
            </p>
            <p class="text-center">
                <a href="https://lais.mora.edu.mx/sitios" class="color-title">Ver sitios web del LAIS <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>

            <p class="lead text-center mt-5" style="color: #294f6d;">
                Integrantes
            </p>
            <p class="font-larger">
                Los integrantes del LAIS cuentan con formaciones en diversos campos, incluyendo comunicación, historia, antropología, estudios latinoamericanos y humanidades digitales.
            </p>
            <p class="text-center">
                <a href="https://lais.mora.edu.mx/sitios" class="color-title">Ver detalles de integrantes <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Proyectos académicos
            </p>
            <p class="font-larger">
                Desde su conformación, el LAIS ha desarrollado diversos proyectos con el apoyo del CONACYT (ahora "Secretaría de Ciencia, Humanidades, Tecnología e Innovación") y el FONCA:
            </p>
            <ul style="padding-left: 2em; font-size: 100%;">
                <li style="list-style-type: disc;">Los Usos de lo Visual en la Investigación Social (antecedente directo, 2000-2001)</li>
                <li style="list-style-type: disc;">Laboratorio Audiovisual de Investigación Social (2002-2006)</li>
                <li style="list-style-type: disc;">Preservación de Imágenes: Sistemas de Información, Acceso e Investigación (2007-2012)</li>
                <li style="list-style-type: disc;">Metodologías de investigación con fuentes audiovisuales (2012-2016)</li>
                <li style="list-style-type: disc;">Fuentes audiovisuales e investigación social (2017-2020)</li>
                <li style="list-style-type: disc;">Mujeres documentalistas en México (1970-1985) (2022-actual)</li>
            </ul>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Eventos y cursos académicos
            </p>
            <ul style="padding-left: 2em; font-size: 100%;">
                <li style="list-style-type: disc;">Primer Congreso Internacional sobre Imágenes e Investigación Social (2002)</li>
                <li style="list-style-type: disc;">Cursos de Lenguaje Audiovisual e Investigación Social con especialistas internacionales (desde 1999)</li>
                <li style="list-style-type: disc;">Seminario de Estudios sobre lo Visual en la Investigación Social (2001-2003)</li>
                <li style="list-style-type: disc;">Seminario sobre el Sistema de Información para Archivos de Imágenes (2002-2003)</li>
                <li style="list-style-type: disc;">Seminario sobre La Fotografía como Fuente de Investigación (2004-2010)</li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Taller de Manejo de Equipo Audiovisual en la Investigación Social (desde 2003) <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></li>
                <li style="list-style-type: disc;">Cursos de Estudios de la Imagen en la licenciatura en historia (desde 2006)</li>
                <li style="list-style-type: disc;">Cursos sobre Técnicas de Investigación Cualitativa en el posgrado (desde 2006)</li>
                <li style="list-style-type: disc;">Cursos de Diseño y Producción Audiovisual en la licenciatura en historia (desde 2012)</li>
                <li style="list-style-type: disc;">Curso de Especialización en Investigación Social con Imágenes (desde 2012)</li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Seminario sobre Documental e Investigación (desde 2017) <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Seminario Bitácora Metodológica (desde 2018) <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></li>
            </ul>


            <p class="lead text-center mt-5" style="color: #294f6d;">
                Colaboraciones
            </p>
            <p class="font-larger">
                Las colaboraciones del LAIS con estudiantes e investigadores del Instituto Mora, así como otras instituciones, son fundamentales. Toda colaboración se realiza en el marco de un proyecto de investigación audiovisual. Generalmente en modalidad de co-responsabilidad en la investigación y sus productos, desde el diseño, integración de posturas teórico-metodológicas, desarrollo y derivación en productos audiovisuales; o en modalidad de asesoría técnica-metodológica y colaborar puntualmente en la realización de algunas tareas, por ejemplo, el registro y calificación de entrevistas o propuestas de catalogación de objetos imagéticos.
            </p>
            <p class="text-center">
                <a href="https://lais.mora.edu.mx/contacto" class="color-title">Contactar al LAIS <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>

        </div>
    </div>
</div>

<style>
.font-larger {
    font-size: 100% !important;
}

.my-link:hover {
	text-decoration: underline;
}

/* Agrega un borde transparente que se activa al pasar el mouse (hover) */
.my-card {
    border: 2px solid rgba(255, 255, 255, 0.0) !important;
}
.my-card:hover {
    border: 2px solid #294f6d !important;
    cursor: pointer;
}

/* Same height columns for Bootstrap 3
https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>