<div class="container my-container">
    <div>
        <h2 class="text-center color-title">
            Acerca del LAIS
        </h2>

        <div class="col-xs-12">
            <!-- <p class="font-larger"> -->
            <p>
                El Laboratorio Audiovisual de Investigación Social (LAIS) es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes.
            </p>
            <p>
                Creado en 2002 con un equipo multidisciplinario, el LAIS realiza estudios que incorporan imágenes y material audiovisual como fuentes primarias de investigación, sean estas recopiladas en diversidad de acervos y colecciones, o bien generadas desde la misma investigación; forma recursos humanos en esta línea de manera permanente; e impulsa la documentación y divulgación de investigaciones sociales y acervos documentales.
            </p>

            <p class="lead text-center mt-4">
                Propósitos
            </p>
            <p>
                El LAIS desarrolla propuestas metodológicas de investigación social con imágenes e investigación audiovisual, partiendo de las imágenes y materiales audiovisuales como documentos y los desafíos que implica su construcción como fuentes de investigación.
            </p>
            <p>
              Las dos vertientes de trabajo se centran en las imágenes como fuentes primarias, ya sea procedentes de archivos o colecciones particulares, como también las generadas desde la misma investigación a través del trabajo de registro y documentación en campo.
            </p>
            <p>
              A su vez, prioriza los trabajos de divulgación que las incorporan en sus resultados, como documentales, exposiciones y sitios web.
            </p>

            <p class="lead text-center mt-4">
                Actividades
            </p>
            <p>
                Con estos propósitos, llevamos a cabo las siguientes actividades:
            </p>
            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Fomentamos el análisis del ambiente audiovisual en el cual estamos inmersos, a través de diversidad de eventos académicos </li>
                <li style="list-style-type: disc;">Construimos propuestas teóricas, conceptuales, metodológicas, técnicas y sociales relacionadas con estos modos de incorporación de las imágenes y materiales audiovisuales como fuentes de investigación</li>
                <li style="list-style-type: disc;">Desarrollamos mecanismos de acceso libre al patrimonio audiovisual y de procesamiento de datos catalográficos</li>
                <li style="list-style-type: disc;">Hacemos investigación social con imágenes y materiales audiovisuales, con énfasis en documentales</li>
                <li style="list-style-type: disc;">Formamos recursos humanos a través de cursos de especialización y cursos semestrales en los programas de estudio del Instituto</li>
            </ul>


            <p class="lead text-center mt-4">
                Publicaciones
            </p>
            <p>
                Las publicaciones del LAIS incluyen libros, capítulos de libros, artículos, documentales, interactivos, exposiciones y sitios en línea.
            </p>
            <p>
                El LAIS obtuvo en 2014 el premio A. García Cubas que otorga el INAH, por su libro <span style="font-style: italic;">Tejedores de imágenes. Propuestas metodológicas de investigación y gestión del patrimonio fotográfico y audiovisual</span>.
            </p>
            <p>
                <a href="https://lais.mora.edu.mx/publicacion" class="color-title">Ver publicaciones del LAIS</a>
            </p>


            <p class="lead text-center mt-4">
                Documentales
            </p>
            <p>
                Hemos producido documentales sobre diversas temáticas, como una historia oral del pueblo de Mixcoac, la vida de un ferrocarrilero jefe de estación en México, los problemas de la investigación social con imágenes y de los archivos que resguardan tales documentos, las pautas de cuidado y alimentación en una comunidad de niños y niñas que reflexionan sobre la exposición a la televisión comercial y su salud, y las prácticas de la exhibición de películas en la Ciudad de México, entre varias más.
            </p>
            <p>
                <a href="https://lais.mora.edu.mx/publicacion?show=Documental" class="color-title">Ver documentales del LAIS</a>.
            </p>


            <p class="lead text-center mt-4">
                Sitios web
            </p>
            <p>
                Desarrollamos mecanismos de acceso libre al patrimonio imagético y de procesamiento de datos catalográficos como el sitio Huellas de Luz, que da acceso a documentación e imágenes de América Latina de los siglos XIX y XX. O como MetaDOC, sitio que pone a disposición la catalogación de la colección de documentales del LAIS.
            </p>
            <p>
                <a href="https://lais.mora.edu.mx/sitios" class="color-title">Ver todos los sitios web</a>.
            </p>

            <p class="lead text-center mt-4">
                Integrantes
            </p>
            <p>
                Los integrantes del LAIS cuentan con formaciones en diversos campos, incluyendo comunicación, historia, antropología, estudios latinoamericanos y humanidades digitales.
            </p>
            <p>
                <a href="https://lais.mora.edu.mx/sitios" class="color-title">Ver detalles de integrantes</a>.
            </p>


            <p class="lead text-center mt-4">
                Proyectos académicos
            </p>
            <p>
                Desde su conformación, el LAIS ha desarrollado diversos proyectos con el apoyo del CONACYT (ahora "Secretaría de Ciencia, Humanidades, Tecnología e Innovación") y el FONCA:
            </p>
            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Los Usos de lo Visual en la Investigación Social (antecedente directo, 2000-2001)</li>
                <li style="list-style-type: disc;">Laboratorio Audiovisual de Investigación Social (2002-2006)</li>
                <li style="list-style-type: disc;">Preservación de Imágenes: Sistemas de Información, Acceso e Investigación (2007-2012)</li>
                <li style="list-style-type: disc;">Metodologías de investigación con fuentes audiovisuales (2012-2016)</li>
                <li style="list-style-type: disc;">Fuentes audiovisuales e investigación social (2017-2020)</li>
                <li style="list-style-type: disc;">Mujeres documentalistas en México (1970-1985) (2022-actual)</li>
            </ul>


            <p class="lead text-center mt-4">
                Eventos y cursos académicos
            </p>
            <p>
                Entre los eventos, cursos y talleres que se han organizado, destacan:
            </p>
            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Primer Congreso Internacional sobre Imágenes e Investigación Social (2002)</li>
                <li style="list-style-type: disc;">Cursos de Lenguaje Audiovisual e Investigación Social con especialistas internacionales (desde 1999)</li>
                <li style="list-style-type: disc;">Seminario de Estudios sobre lo Visual en la Investigación Social (2001-2003)</li>
                <li style="list-style-type: disc;">Seminario sobre el Sistema de Información para Archivos de Imágenes (2002-2003)</li>
                <li style="list-style-type: disc;">Seminario sobre La Fotografía como Fuente de Investigación (2004-2010)</li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Taller de Manejo de Equipo Audiovisual en la Investigación Social (desde 2003)</a></li>
                <li style="list-style-type: disc;">Cursos de Estudios de la Imagen en la licenciatura en historia (desde 2006)</li>
                <li style="list-style-type: disc;">Cursos sobre Técnicas de Investigación Cualitativa en el posgrado (desde 2006)</li>
                <li style="list-style-type: disc;">Cursos de Diseño y Producción Audiovisual en la licenciatura en historia (desde 2012)</li>
                <li style="list-style-type: disc;">Curso de Especialización en Investigación Social con Imágenes (desde 2012)</li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Seminario sobre Documental e Investigación (desde 2017)</a></li>
                <li style="list-style-type: disc;"><a href="https://lais.mora.edu.mx/talleres" class="color-title">Seminario Bitácora Metodológica (desde 2018)</a></li>
            </ul>



            
            
            <!-- <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Como fuentes primarias, procedentes de archivo o generadas desde la misma investigación.</li>
                <li style="list-style-type: disc;">Como medio de divulgación de las investigaciones sociales.</li>
            </ul> -->

            <!-- <p>
                Como parte de este trabajo, llevamos a cabo diversas actividades, entre ellas:
            </p>
            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Construimos propuestas teóricas, metodológicas, técnicas y sociales relacionadas con estas formas de incorporar imágenes a la investigación.</li>
                <li style="list-style-type: disc;">Fomentamos el análisis del ambiente audiovisual en el cual estamos inmersos.</li>
                <li style="list-style-type: disc;">Desarrollamos mecanismos de acceso libre al patrimonio imagético y de procesamiento de datos catalográficos.</li>
                <li style="list-style-type: disc;">Formamos recursos humanos.</li>
            </ul> -->

            <p class="lead text-center mt-5">
                Colaboraciones
            </p>
            <p>
                Las colaboraciones del LAIS con estudiantes e investigadores del Instituto Mora, así como otras instituciones, son fundamentales. A continuación se presentan los lineamientos que las rigen. 
            </p>

            <p style="font-weight: bold;" class="text-center font-larger mt-5">General</p>
            <p>
                El LAIS colabora con estudiantes e investigadores del Instituto Mora y de otros centros académicos.

                Toda colaboración se realiza en el marco de un proyecto de investigación relacionado con algunos de los enfoques mencionados. El LAIS determina cuáles colaboraciones puede asumir, de acuerdo con sus prioridades y la disponibilidad de recursos y tiempos. Para toda colaboración, se establecen de antemano las funciones y responsabilidades de las partes.
            </p>
            <p>
                Las propuestas de colaboración con el LAIS se presentan mediante una carta del interesado que describa el proyecto, sus objetivos, su metodología, y los recursos disponibles y requeridos. La carta es un punto de partida para que el interesado y el LAIS definan conjuntamente las características del trabajo a realizar. Este documento se entrega con tiempo de anticipación de acuerdo con la modalidad y dimensión de la propuesta. 
            </p>

            <p style="font-weight: bold;" class="text-center font-larger mt-5">Modalidades de colaboración</p>
            <p>
                Existen diversas modalidades de colaboración con el LAIS, entre las cuales señalamos las siguientes:
            </p>

            <p style="text-decoration: underline;" class="text-center font-larger">Co-responsabilidad en la investigación y sus productos</p>
            <p>
                En esta modalidad el LAIS y el/la interesado/a son corresponsables de la investigación, sus contenidos y sus resultados, y participan conjuntamente en todas las etapas del proyecto.
            </p>
            <p>
                Ejemplo de colaboración bajo esta modalidad: Proyecto de investigación que desde su diseño se construye con el LAIS integrando sus posturas teórico-metodológicas y que deriva en un producto audiovisual, entre otros.
            </p>

            <p style="text-decoration: underline;" class="text-center font-larger">Asesoría técnica o metodológica</p>
            <p>
                En esta modalidad, el papel del LAIS es el de proporcionar asesoría acerca de los procedimientos técnicos y propuestas metodológicas para proyectos de investigación, y según el caso, colaborar puntualmente en la realización de algunas tareas.
            </p>
            <p>
                Ejemplos de colaboración bajo esta modalidad: Asesoría para el registro y calificación de entrevistas videograbadas; asesoría para diseñar propuestas de catalogación y documentación de objetos imagéticos; asesoría para la reproducción de imágenes de archivo; asesoría en edición calificación de material audiovisual y edición no lineal enfocada a la investigación.
            </p>

            <!-- <p style="text-decoration: underline;" class="text-center font-larger">Requisitos específicos</p> -->
            <p class="lead text-center">
                Requisitos específicos
            </p>
            <p>
                A continuación se exponen los principales requisitos para llevar a cabo colaboraciones con el LAIS:
            </p>
            <ol style="font-size: 14px;">
                <li>De acuerdo con la modalidad de colaboración, el interesado es el responsable o corresponsable de la búsqueda y la adquisición de los documentos y recursos a utilizar en el proyecto.</li>
                <li>De acuerdo con la modalidad de colaboración, el interesado es el responsable o corresponsable de la búsqueda y la adquisición de los documentos y recursos a utilizar en el proyecto.</li>
                <li>La gestión y el costo de los permisos de uso de los recursos y fuentes que sean utilizados en la producción o publicación son responsabilidad del interesado.</li>
                <li>El/la interesado/a es responsable de la revisión, calificación y trascripción de registros audiovisuales, con asesoría del LAIS. Debe entregar sus entrevistas transcritas y calificadas.</li>
                <li>Si el proyecto contempla un producto de divulgación audiovisual se debe establecer un calendario de preproducción, producción y posproducción.</li>
                <li>Para todo procesamiento de datos, el/la interesado/a es el responsable tanto de la captura y revisión de éstos, como de su adecuación a los formatos estipulados por el LAIS.</li>
                <li>En el caso de los proyectos que contemplen la puesta en línea de materiales, ésta debe realizarse bajo la modalidad de acceso abierto.</li>
                <li>Cualquier desarrollo de software que se realice en el marco de una colaboración queda disponible públicamente bajo la modalidad de software libre.</li>
                <li>Todo producto derivado de las colaboraciones, sea interna o externa, debe incluir los créditos correspondientes.</li>
                <li>Es imprescindible respetar los horarios y tiempos establecidos que se destinen a cada proyecto.</li>
                <li>Toda actividad fuera de las instalaciones del LAIS requiere de transporte adecuado que debe tramitar el/la interesado/a.</li>
            </ol>
        </div>
    </div>
</div>

<style>
.font-larger {
    font-size: 16px !important;
}

.my-link:hover {
	text-decoration: underline;
}

/* Agrega un borde transparente que se activa al pasar el mouse (hover) */
.my-card {
    border: 2px solid rgba(255, 255, 255, 0.0) !important;
}
.my-card:hover {
    border: 2px solid #294f6d !important;
    cursor: pointer;
}

/* Same height columns for Bootstrap 3
https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>