<div class="container my-container">
	<h1>Administración y configuración</h1>
	<p>Conectado como <strong>{{user.username || "Anónimo"}}</strong></p>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade">
				<a href="/admin/eventos" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; Eventos</h3>
					<p>Ver todos los eventos relacionados al LAIS.</p>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade">
				<a href="/admin/publicaciones" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-book" aria-hidden="true"></i>&nbsp; Publicaciones</h3>
					<p>Ver todas las publicaciones hechas por los integrantes del LAIS.</p>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade">
				<a href="/archivos" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp; Archivos</h3>
					<p>Ver los archivos almacenados en el servidor interno del LAIS.</p>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade">
				<a href="/admin/usuarios" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Usuarios</h3>
					<p>Lista de usuarios registrados para modificar contenido.</p>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade">
				<a href="http://lais-interno.mora.edu.mx/moodle/" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-camera" aria-hidden="true"></i>&nbsp; Seminario LAIS</h3>
					<p>Página del Moodle con información y material del seminario interno del LAIS.</p>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="admin-menu-item hvr-fade" ng-click="cerrarSesion()">
				<a href="" class="no-text-decoration link-uncolor">
					<h3><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Cerrar sesión</h3>
					<p>Concluir la edición del sitio.</p>
				</a>
			</div>
		</div>
	</div>
</div>