<!-- Página que muestra todos los archivos -->
<div class="container my-container">
	<h1>Lista de archivos</h1>
	
	<!-- Formulario para agregar nuevo(s) archivo(s) a la base de datos -->
    <div class="spacing-block"> <!-- ng-show="sesion" -->
	    <button type="button" class="btn btn-default full-width" name="adjuntos" id="adjuntos" ng-show="uploadedFiles && uploadedFiles.length === 0" ngf-select="uploadFiles($files)" ng-model="adjuntos" ngf-multiple="true" ngf-keep="'distinct'" ngf-max-files="10" ngf-max-size="'100MB'" ngf-max-total-size="'200MB'"><i class="fa fa-file-o" aria-hidden="true"></i> Agregar archivo(s)...</button>
	    <button type="button" class="btn btn-default full-width" name="directory" id="directory" ng-click="showAddDirectory()"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Nueva carpeta</button>
	    
	    <table class="table">
	    	<tr ng-repeat="file in uploadedFiles">
	    		<td>{{file.filename}}</td>
	    		<td><input type="text" class="form-control" placeholder="Agregar descripción" ng-model="file.descripcion"></td>
	    		<td><button type="button" class="btn btn-danger" ng-click="deleteFile(file.filename)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
	    	</tr>
	    </table>
	    <button class="btn btn-primary" ng-show="uploadedFiles && uploadedFiles.length > 0" ng-click="enviar()">Subir archivo(s) al servidor</button>

	    <div ng-show="addingDirectory">
	    	<table class="table">
	    		<tr>
	    			<td><input type="text" class="form-control" placeholder="Nombre de la carpeta" ng-model="directoryFile.filename" required=""></td>
	    			<td><input type="text" class="form-control" placeholder="Agregar descripción (Opcional)" ng-model="directoryFile.descripcion"></td>
	    			<td><button type="button" class="btn btn-primary" ng-click="addDirectory()" ng-disabled="!directoryFile.filename">Crear carpeta</button></td>
	    		</tr>
	    	</table>
	    </div>

    </div>

	<!-- Barra de navegación -->
	<ol class="breadcrumb" ng-show="breadcrumbsArray && breadcrumbsArray.length > 0">
		<li><a href="/archivos">Inicio</a></li>
		<li ng-repeat="directory in breadcrumbsArray" ng-class="{active: $last}"><a href="/archivos?path={{breadcrumbsArray.slice(0,$index+1).join('/') + '/'}}">{{directory}}</a></li>
	</ol>

	<!-- TABLA PARA MOSTRAR LOS ARCHIVOS REGISTRADOS EN LA BASE DE DATOS -->
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<!-- <th>
					<a href="" ng-click="sortBy('filename')">Nombre</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'filename' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'filename' && reverse"></i>
				</th>
				<th>
					<a href="" ng-click="sortBy('tipo')">Tipo</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'tipo' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'tipo' && reverse"></i>
				</th>
				<th>
					<a href="" ng-click="sortBy('fechaCreacion')">Fecha</a>
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'fechaCreacion' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'fechaCreacion' && reverse"></i>
				</th>
				<th>
					<a href="" ng-click="sortBy('size')">Tamaño</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'size' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'size' && reverse"></i>
				</th>
				<th>
					<a href="" ng-click="sortBy('descripcion')">Descripción</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'descripcion' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'descripcion' && reverse"></i>
				</th> -->
				<th>
					<strong>Nombre</strong>
				</th>
				<!-- <th>
					<strong>Tipo</strong>
				</th> -->
				<th>
					<strong>Fecha</strong>
				</th>
				<th>
					<strong>Tamaño</strong>
				</th>
				<th>
					<strong>Descripción</strong>
				</th>
				<th></th>
				<th></th>
			</tr>
			<!-- <tr ng-repeat="archivo in archivos | orderBy: propertyName: reverse"> -->
			<!-- <tr ng-repeat="archivo in archivos | orderBy: directoryFirstComparator: false"> -->
			<tr ng-repeat="archivo in archivos">
				<td>
					<span ng-if="!archivo.directory">
						<span ng-bind-html="archivo.icon"></span> <a href="{{'files/' + archivo.location + archivo.filename}}" target="_blank">{{archivo.filename}}</a>
					</span>
					<span ng-if="archivo.directory">
						<span ng-bind-html="archivo.icon"></span> <a href="archivos?path={{archivo.location + archivo.filename + '/'}}">{{archivo.filename}}</a>
					</span>
				</td>
				<!-- <td><span ng-bind-html="archivo.icon"></span> {{filetypeTranslate[archivo.filetype]}}</td> -->
				<td>{{archivo.createdAt | date : 'dd/MM/yy'}}</td>
				<td>{{archivo.size}}</td>
				<td>
					<span ng-show="archivo._id != editable">{{archivo.descripcion}}</span>
					<span ng-show="archivo._id === editable"><input type="text" class="form-control" placeholder="{{archivo.descripcion || 'Nueva descripción'}}" ng-blur="update()" ng-keydown="$event.which === 13 && update()" ng-model="tempFile.descripcion"></span>
				</td>
				<td>
					<button class="btn btn-default btn-xs" ng-show="archivo._id != editable" ng-click="enableEdit(archivo._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
					<button class="btn btn-default btn-xs" ng-show="archivo._id === editable" ng-click="update()"><i class="fa fa-check" aria-hidden="true"></i></button>
				</td>
				<td><button class="btn btn-danger btn-xs" ng-click="openModal(archivo); $event.stopPropagation();"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
			</tr>
		</table>
	</div>

	<!-- <br>
    <pre>{{uploadedFiles | json}}</pre> -->

    <script type="text/ng-template" id="modal-template.html">
    	<div class="modal-body" id="modal-body">
    		<p>¿Seguro que deseas borrar <span ng-if="!archivo.directory">el archivo</span><span ng-if="archivo.directory">la carpeta</span> {{archivo.filename}} ?</p>
    		<button class="btn btn-primary" type="button" ng-click="deleteConfirmed(archivo._id)">Borrar</button>
    		<button class="btn btn-primary" type="button" ng-click="closeModal()">Cancelar</button>
    	</div>
    </script>

</div>