<div class="container my-container">
    <!--Script para mostrar mensajes de error en los campos del formulario-->
    <script type="text/ng-template" id="error-messages">
        <span ng-message="required" class="help-block">Esta información es necesaria para enviar mensaje.</span>
        <span ng-message="maxlength" class="help-block">La información es demasiado larga.</span>
        <span ng-message="minlength" class="help-block">La información es demasiado corta.</span>
        <span ng-message="date" class="help-block">La fecha es incorrecta.</span>
        <span ng-message="url" class="help-block">Se requiere la dirección completa de internet (comúnmente iniciando con "https://").</span>
        <span ng-message="pattern" class="help-block">El formato de este campo es incorrecto.</span>
    </script>

	<h1 class="main-title">Contacto</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <h3 class="sub-title mb-3">Correo</h3>
            <a href="mailto:lais@mora.edu.mx" style="font-size: 1.2em; color:#294f6d;">lais@mora.edu.mx</a>

            <h3 class="sub-title mb-3 mt-5">Redes sociales</h3>
            <div class="row mb-4">
                <div class="col-xs-12 col-sm-4">
                    <a href="https://www.facebook.com/LAIS.InstitutoMora" style="font-size: 1.2em; color:#294f6d;">
                        <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/facebook.svg" />
                        <p>Facebook</p>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <a href="https://www.instagram.com/lais.im/" style="font-size: 1.2em; color:#294f6d;">
                        <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/instagram.svg" />
                        <p>Instagram</p>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <a href="https://www.youtube.com/@LAISMORA" style="font-size: 1.2em; color:#294f6d;">
                        <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/youtube.svg" />
                        <p>YouTube</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <!-- Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.8337599221472!2d-99.18767352399405!3d19.376349542473328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffae392bfd0b%3A0x139661af2a84307e!2sLAIS!5e0!3m2!1sen!2smx!4v1744232679280!5m2!1sen!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>