<div class="container my-container">
	<div class="row">
        
        <div class="col-xs-12 col-sm-6">
            <h3 class="section-heading text-center">Curso de especialización en investigación social con fuentes audiovisuales</h3>
            <p>
                El Laboratorio Audiovisual de Investigación Social (LAIS) del Instituto Mora inauguró este curso de especialización, a diez años de su creación y con motivo de la creciente demanda de formación en esta línea de investigación. Dirigido a estudiantes, investigadores y docentes de las ciencias sociales y las humanidades, el curso aborda las diversas implicaciones técnicas, teóricas y metodológicas de la incorporación de imágenes como fuentes primarias, así como de la creación de productos audiovisuales a partir de investigaciones.
            </p>

            <p>
                El participante obtendrá herramientas básicas para introducirse en la investigación social con imágenes y desarrollará competencias para su construcción como fuentes, descripción, análisis, documentación, catalogación, digitalización, gestión, puesta en acceso, e incorporación en diversos productos de la investigación. El curso se imparte por petición institucional y no tiene una periodicidad.
            </p>

            <p>
                <span style="font-weight: bold;">Dirigido a</span>: 
                Formación en ciencias sociales o humanidades, disposición de tiempo para realizar ejercicios e incorporarlos a sus avances o proyectos de investigación. Se pide semblanza curricular y carta de exposición de motivos de cada participante.
            </p>

            <p>
                <span style="font-weight: bold;">Duración</span>: 
                40 horas, a impartir en dos etapas de 20 horas cada una, para permitir los avances de investigación de los participantes entre una y otra.
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos de infraestructura:</span> 
                Espacio adecuado para trabajo con un grupo de 20 participantes, proyector o pantalla para conectar laptop, equipo de sonido y pizarrón.
            </p>

            <p>
                <span style="font-weight: bold;">Impartido por:</span> 
                Integrantes del Laboratorio Audiovisual de Investigación Social del Instituto Mora.
            </p>

            <p>
                <span style="font-weight: bold;">Contenidos:</span> 
            </p>
            
            <ol style="padding-left: 2em; font-size: 14px;">
                <li class="mb-2">Horizonte de la investigación con imágenes.</li>
                <li class="mb-2">Hacia una propuesta interdisciplinaria. Trayectoria del Laboratorio Audiovisual de Investigación Social.</li>
                <li class="mb-2">Las imágenes como patrimonio. Las imágenes como fuentes y objetos de investigación.</li>
                <li class="mb-2">Metodologías de construcción de fuentes visuales.</li>
                <li class="mb-2">Manejo de equipo audiovisual para la investigación social.</li>
                <li class="mb-2">Herramientas técnicas para la investigación: digitalización e informática.</li>
                <li class="mb-2">Metodología de análisis de imágenes.</li>
                <li class="mb-2">Documentación y catalogación.</li>
                <li class="mb-2">Gestión y puesta en acceso.</li>
                <li class="mb-2">Producción audiovisual y documental.</li>
            </ol>

            <!-- <div ng-repeat="photo in taller" class="col-xs-12 col-sm-4">
                <img src="imgs/{{photo.img}}" class="img-responsive img-thumbnail mx-2 my-1" alt="{{photo.text}}">
            </div> -->
        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="section-heading text-center">Curso sobre Lenguaje Audiovisual e Investigación Social</h3>
            <p>
                Dirigido a estudiantes, investigadores, profesionistas y personas interesadas sobre el tema. El curso tiene el propósito de reflexionar sobre las relaciones entre el lenguaje audiovisual y la investigación social, a partir de experiencias de especialistas que, desde las ciencias sociales y el trabajo con documentales, han profundizado en este binomio.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Presencial en las instalaciones del Instituto Mora (sede Poussin) en la Ciudad de México.
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                20 horas (4 horas diarias durante 1 semana).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea, que incluye datos básicos, una carta de motivos y currículum vitae.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Impartido por:</span> 
            </p>

            <ul style="padding-left: 2em; font-size: 14px;">
                <li ng-repeat="persona in cursos" class="mb-2">
                    {{ persona.nombre }} ({{ persona.fecha }})
                    <br>
                    <span style="font-weight: 100;">
                        {{ persona.procedencia }}
                    </span>
                </li>
            </ul>
            
            <!-- <div ng-repeat="photo in taller" class="col-xs-12 col-sm-4">
                <img src="imgs/{{photo.img}}" class="img-responsive img-thumbnail mx-2 my-1" alt="{{photo.text}}">
            </div> -->
        </div>

	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>