<div class="container my-container">
	<div class="row">
        <!-- <div class="col-xs-12 text-center">
            <h4 class="color-title">
                Curso de especialización en investigación social con fuentes audiovisuales
            </h4>
        </div> -->
        
        <div class="col-xs-12 col-sm-6">
            <h5>
                Curso de especialización en investigación social con fuentes audiovisuales
            </h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu erat in ipsum volutpat egestas luctus at velit. In id lacus magna. Sed ligula erat, elementum in accumsan non, pretium volutpat lectus. Nunc purus diam, interdum ac mollis at, accumsan eget ante. Sed pharetra quam eu dolor facilisis auctor at nec ipsum. Sed enim felis, laoreet ac lorem ac, convallis ultricies mauris.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Proin at iaculis justo. Vestibulum scelerisque urna nec enim convallis, vel accumsan lectus fermentum.
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                Duis ullamcorper ligula massa.
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Etiam tempus condimentum neque, non porta nunc porta at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Curabitur consequat malesuada tellus.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Suspendisse blandit vitae lacus nec tristique. Donec tristique aliquet auctor. Integer posuere id ante eget hendrerit.
            </p>

            <p>
                <span style="font-weight: bold;">Temario:</span> 
            </p>

            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Phasellus id maximus quam, dictum sagittis nunc</li>
                <li style="list-style-type: disc;">Morbi eu vulputate justo, a sollicitudin erat</li>
                <li style="list-style-type: disc;">Praesent vestibulum massa orci</li>
                <li style="list-style-type: disc;">Pulvinar dictum ante eleifend nec</li>
                <li style="list-style-type: disc;">Aenean venenatis</li>
                <li style="list-style-type: disc;">Praesent vel felis eget turpis</li>
                <li style="list-style-type: disc;">Pulvinar dignissim</li>
                <li style="list-style-type: disc;">Proin consectetur nisl a lacus finibus</li>
                <li style="list-style-type: disc;">Cras dictum diam est, quis maximus felis auctor ac</li>
                <li style="list-style-type: disc;">Nulla euismod dignissim bibendum sed eu ligula mollis nunc blandit eleifend</li>
                <li style="list-style-type: disc;">Donec vitae scelerisque elit</li>
                <li style="list-style-type: disc;">Mauris nulla tortor, hendrerit at enim at</li>
                <li style="list-style-type: disc;">Ultrices ullamcorper erat</li>
                <li style="list-style-type: disc;">Donec maximus pharetra magna consectetur sodales</li>
                <li style="list-style-type: disc;">Praesent faucibus varius mi eu lobortis</li>
                <li style="list-style-type: disc;">Nunc nec est et ipsum mollis</li>
                <li style="list-style-type: disc;">Praesent facilisis, mi in vulputate sagittis</li>
                <li style="list-style-type: disc;">Eros diam bibendum ligula</li>
            </ul>

            <div ng-repeat="photo in taller" class="col-xs-12 col-sm-4">
                <img src="imgs/{{photo.img}}" class="img-responsive img-thumbnail mx-2 my-1" alt="{{photo.text}}">
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h5>
                Curso sobre Lenguaje Audiovisual e Investigación Social
            </h5>
            <p>
                Dirigido a estudiantes, investigadores, profesionistas y personas interesadas sobre el tema. El curso tiene el propósito de reflexionar sobre las relaciones entre el lenguaje audiovisual y la investigación social, a partir de experiencias de especialistas que, desde las ciencias sociales y el trabajo con documentales, han profundizado en este binomio.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Presencial en las instalaciones del Instituto Mora (sede Poussin) en la Ciudad de México.
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                20 horas (4 horas diarias durante 1 semana).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea, que incluye datos básicos, una carta de motivos y currículum vitae.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Impartido por:</span> 
            </p>

            <ol style="padding-left: 2em; font-size: 14px;">
                <li>Virna Molina (2024)</li>
                <li>Mariana X. Rivera, Josué Vergara (2023)</li>
                <!-- <li></li> -->
                <li>María Aimaretti (2020)</li>
                <li>Gregorio Rocha (2019)</li>
                <li>Héctor Veitía (2018)</li>
                <li>Carlos Mendoza Aupetit (2017)</li>
                <li>Julieta Keldjian (2016)</li>
                <li>Miguel Mirra (2015)</li>
                <li>Ana Mauad (2014)</li>
                <li>Belkis Vega (2013)</li>
            </ol>
            
            <div ng-repeat="photo in taller" class="col-xs-12 col-sm-4">
                <img src="imgs/{{photo.img}}" class="img-responsive img-thumbnail mx-2 my-1" alt="{{photo.text}}">
            </div>
        </div>

	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>