<div class="container my-container">
    <div class="text-center">
        <h2 class="color-title">
            Enlaces
        </h2>

        <p class="lead mb-0">
            Instancias con las que participamos, apoyamos y colaboramos de manera académica, investigación, divulgación y asesoramiento.
        </p>
    </div>

    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-4 mt-4" ng-repeat="institucion in instituciones">
            <div class="card my-2" style="background-color: transparent !important; box-shadow: none;" >
                <div class="card-content">
                    <img src="imgs/vinculacion/{{ institucion.imagen }}" class="img-responsive img-rounded my-2" style="display: block; margin-left: auto; margin-right: auto; width: 200px;" >

                    <a href="{{institucion.url}}" class="my-link" style="font-size: 14px; color:#294f6d; font-weight: bolder;">
                        {{ institucion.nombre }}
                    </a>

                    <!-- <p style="font-weight: lighter; color: inherit">
                        {{ institucion.relacion }}
                    </p> -->
                </div>
            </div>
        </div>
    </div> 
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}

/* Agrega un borde transparente que se activa al pasar el mouse (hover) */
.my-card {
    border: 2px solid rgba(255, 255, 255, 0.0) !important;
}
.my-card:hover {
    border: 2px solid #294f6d !important;
    cursor: pointer;
}

/* Same height columns for Bootstrap 3
https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>