<!-- Página que muestra todos los eventos que se tiene, ya sean de docencia o académicos -->
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-8">
			<h1 class="color-title">Eventos</h1>
		</div>
		<div class="col-lg-4">
			<div class="input-group" id="buscador">
				<input ng-model="query" type="text" class="form-control" placeholder="buscar...">
				<span class="input-group-btn">
					<button ng-click="buscar(query)" class="btn btn-default" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div><!-- /input-group -->
		</div>
	</div>

	<!-- Filtro
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="filterModel.academico"> Académico
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="filterModel.docencia"> Docencia
	</label> -->

	<hr>
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="evento in eventos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
			<a href="/eventos/{{evento._id}}" class="thumbnail-link">
				<div class="thumbnail"> <!-- ng-class="{available: isAvaliable(evento.fecha)}" -->
			  		<img class="thumbnail-image" src="imgs/eventos/{{evento.imagenPrincipal}}" alt="imagen-{{evento.titulo}}">
		  			<div class="caption thumbnail-text">
		    			<h3>{{evento.titulo}}</h3>
	    				<p>{{evento.descripcion}}</p>
		  			</div>
		  			<div class="available-label" ng-show="isAvaliable(evento.fecha)">Próximamente</div>
				</div>
			</a>
		</div>
	</div>
	<center>
		<uib-pagination first-text="Inicio" previous-text="Anterior" next-text="Siguiente" last-text="Último"total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></uib-pagination>
	</center>
</div>

