<!--Página que muestra toda la información referente a un evento en particular-->

<div class="container">
	<!-- <hr> -->
	<div class="jumbotron">
		<center>
			<h1 class="title">{{evento.titulo}}</h1>
			<img class="img-responsive img-rounded" src="imgs/eventos/{{evento.imagen}}">
		</center>
		<hr>
		<p class="html-container" ng-bind-html="evento.contenidoHTML"></p>
		<hr>
		<div class="geocode-direction" ng-show="geocodeResult">
			<h4 class="subtitle">Dirección</h4>
			<p>{{geocodeResult.formatted_address}}</p>
			<div id="map"></div>
		</div>
		<div ng-if="evento.fecha">
			<h4 class="subtitle">Fecha <span ng-show="evento.horario">y hora</span></h4>
			<p class="capitalize">
				{{evento.fecha | date : 'fullDate'}}
				<span ng-show="evento.fechaFin"> al {{evento.fechaFin | date : 'fullDate'}}</span>
				<span ng-show="evento.horario"><br>
					{{evento.horario | date : 'shortTime'}}
					<span ng-show="evento.horarioFin"> a {{evento.horarioFin | date : 'shortTime'}}</span>
				</span>
			</p>
		</div>
		<div ng-if="evento.coordinador && evento.coordinador.length > 0">
			<h4 class="subtitle">Coordinador<span ng-if="evento.coordinador.length > 1">es</span> del evento</h4>
			<p>{{coordinador}}</p>
		</div>
		<div ng-if="evento.participantes && evento.participantes.length > 0">
			<h4 class="subtitle">Participante<span ng-if="evento.participantes.length > 1">s</span> destacado<span ng-if="evento.participantes.length > 1">s</span></h4>
			<p>{{participantes}}</p>
		</div>
		<div ng-if="evento.tipo">
			<h4 class="subtitle">Tipo de evento</h4>
			<p class="capitalize">{{evento.tipo}}</p>
		</div>
		<div ng-if="evento.notas">
			<h4 class="subtitle">Notas</h4>
			<p>{{evento.notas}}</p>
		</div>
		<div ng-if="evento.documentos && evento.documentos.length > 0">
			<h4 class="subtitle">Archivos adjuntos</h4>
			<ul>
				<li ng-repeat="documento in evento.documentos"><a href="files/eventos/{{documento}}" target="_blank">{{documento}}</a></li>
			</ul>
		</div>
		<div ng-if="evento.keywords && evento.keywords.length > 0">
			<h4 class="subtitle">Palabras clave</h4>
			<p>
				<span class="label label-default label-spacing" ng-repeat="keyword in evento.keywords">{{keyword}}</span>
			</p>
		</div>
		<div>
			<h4 class="subtitle">Comparte</h4>
			<p>
				<!-- FACEBOOK -->
				<button class="btn btn-default" socialshare socialshare-provider="facebook" socialshare-url="{{url}}" socialshare-text="{{evento.titulo}}" socialshare-type="feed" socialshare-via="148770792254400"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
				<!-- TWITTER -->
				<button class="btn btn-default" socialshare socialshare-provider="twitter" socialshare-text="{{evento.titulo}}" socialshare-url="{{url}}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
				<!-- EMAIL -->
				<button class="btn btn-default" socialshare socialshare-provider="email" socialshare-subject="Evento audiovisual" socialshare-body="A quien corresponda.%0D%0A %0D%0APor considerarlo de su interés, el Laboratorio Audiovisual de Investigación Social del Instituto Mora le invita a revisar la información del evento {{evento.titulo}} desde su página en internet:%0D%0A {{url}}.%0D%0A %0D%0AUn cordial saludo y gracias por su atención."><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</button>
			</p>
		</div>

		<!-- <br>
    	<pre>{{evento | json}}</pre> -->
	</div>
</div>