<!-- Página con el formulario para agregar un evento -->

<div class="container my-container">
    <!--Script para mostrar mensajes de error en los campos del formulario-->
    <script type="text/ng-template" id="error-messages">
        <span ng-message="required" class="help-block">Este campo es obligatorio.</span>
        <span ng-message="maxlength" class="help-block">La información excede el límite de longitud permitido.</span>
        <span ng-message="minlength" class="help-block">La información es demasiado corta.</span>
        <span ng-message="date" class="help-block">La fecha es incorrecta.</span>
        <span ng-message="url" class="help-block">Se requiere la dirección completa de internet (comúnmente iniciando con "http://").</span>
        <span ng-message="pattern" class="help-block">El formato de este campo es incorrecto.</span>
    </script>

    <h1 class="color-title" ng-if="!edit">Agregar nuevo evento</h1>
    <h1 class="color-title" ng-if="edit">Editar evento</h1>

    <!-- Formulario para agregar un nuevo evento a la base de datos -->
    <form name="eventoForm" id="eventoForm" role="form" novalidate>
        <!-- TITULO DEL EVENTO -->
        <div class="form-group" ng-class="{'has-error': eventoForm.titulo.$dirty && eventoForm.titulo.$invalid}">
            <label class="control-label color-title format-title" for="titulo">Título</label>
            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Nombre del evento" ng-model="evento.titulo" ng-maxlength="150" ng-trim required>
            <div ng-messages="eventoForm.titulo.$error" ng-show="eventoForm.titulo.$dirty && eventoForm.titulo.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>

        <!-- DESCRIPCION DEL EVENTO -->
        <!-- <div class="form-group" ng-class="{'has-error': eventoForm.descripcion.$dirty && eventoForm.descripcion.$invalid}">
            <label class="control-label color-title format-title" for="descripcion">Descripción</label>
            <textarea class="form-control" rows="2" name="descripcion" id="descripcion" placeholder="Breve descripción del evento" ng-model="evento.descripcion" ng-maxlength="250" ng-trim></textarea>
            <div ng-messages="eventoForm.descripcion.$error" ng-show="eventoForm.descripcion.$dirty && eventoForm.descripcion.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div> -->

        <!-- INFORMACIÓN COMPLETA DEL EVENTO (HTML) -->
        <div class="form-group" ng-class="{'has-error': eventoForm.contenidoHTML.$dirty && eventoForm.contenidoHTML.$invalid}">
          <label class="control-label color-title format-title" for="contenidoHTML">Contenido</label>
          <div text-angular ng-model="evento.contenidoHTML" ta-text-editor-class="form-control" ta-html-editor-class="form-control" id="contenidoHTML" placeholder="Información completa sobre el evento" required></div>
          <div ng-messages="eventoForm.contenidoHTML.$error" ng-show="eventoForm.contenidoHTML.$dirty && eventoForm.contenidoHTML.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>

        <!-- FECHAS -->
        <div class="row">
            <div class="col-md-6">
                <!-- FECHA UNICA/INICIAL -->
                <div class="form-group">
                    <label class="control-label color-title format-title" for="fecha">Fecha</label>
                    <div class="input-group">
                        <!-- DATEPICKER POPUP BUG: No se muestra la fecha hasta dar clic en el calendario -->
                        <!-- <input type="text" id="fecha" class="form-control" uib-datepicker-popup="dd 'de' MMMM 'de' yyyy (EEEE)" ng-model="evento.fecha" is-open="calendar" datepicker-options="dateOptions" close-text="Close" close-text="Listo" current-text="Hoy" clear-text="Borrar" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> -->
                        <div id="fecha" class="well well-sm" uib-datepicker ng-model="evento.fecha" datepicker-options="dateOptions"></div>
                        <button class="btn btn-danger btn-sm" ng-click="deleteDate()" ng-show="evento.fecha"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Borrar fecha</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- FECHA FINAL -->
                <div class="form-group" ng-show="evento.fecha"> <!-- && fechaFin -->
                    <label class="control-label color-title format-title" for="fechaFin">Fecha final</label>
                    <div class="input-group">
                        <!-- DATEPICKER POPUP BUG: No se muestra la fecha hasta dar clic en el calendario -->
                        <!-- <input type="text" id="fechaFin" class="form-control" uib-datepicker-popup="dd 'de' MMMM 'de' yyyy (EEEE)" ng-model="evento.fechaFin" is-open="secondCalendar" datepicker-options="finalDateOptions" close-text="Close" close-text="Listo" current-text="Hoy" clear-text="Borrar" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFinalDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> -->
                        <div id="fechaFin" class="well well-sm" uib-datepicker ng-model="evento.fechaFin" datepicker-options="finalDateOptions"></div>
                        <button class="btn btn-danger btn-sm" ng-click="deleteFinalDate()" ng-show="evento.fechaFin"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Borrar fecha final</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- HORARIOS -->
        <div class="row" ng-show="evento.fecha">
            <div class="col-md-6">
                <!-- HORARIO -->
                <div class="form-group">
                    <label class="control-label color-title format-title" for="horario">Horario</label>
                    <div uib-timepicker id="horario" ng-model="evento.horario" hour-step="1" minute-step="1"></div>
                    <button class="btn btn-danger btn-sm" ng-click="deleteHorario()" ng-show="evento.horario"><i class="fa fa-clock-o" aria-hidden="true"></i> Borrar hora</button>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- HORARIO FIN-->
                <div class="form-group" ng-show="evento.horario"> <!-- && hourField -->
                    <label class="control-label color-title format-title" for="horarioFin">Horario final</label>
                    <div uib-timepicker id="horarioFin" ng-model="evento.horarioFin" hour-step="1" minute-step="1"></div>
                    <button class="btn btn-danger btn-sm" ng-click="deleteFinalHorario()" ng-show="evento.horarioFin"><i class="fa fa-clock-o" aria-hidden="true"></i> Borrar hora final</button>
                </div>
            </div>
        </div>

        <!-- LUGAR (GOOGLE MAPS) -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="place">Lugar</label>
            <input class="form-control" type="text" id="place" ng-model="place" placeholder="Escribe y selecciona un lugar o dirección">
            <div id="map"></div>
        </div>

        <!-- TIPO DE EVENTO -->
        <div class="form-group" ng-class="{'has-error': eventoForm.tipo.$dirty && eventoForm.tipo.$invalid}">
            <label class="control-label color-title format-title" for="tipo">Tipo de evento</label>
            <select class="form-control" id="tipo" ng-model="evento.tipo">
                <option value="Académico">Académico</option>
                <option value="Docencia">Docencia</option>
            </select>
            <div ng-messages="eventoForm.tipo.$error" ng-show="eventoForm.tipo.$dirty && eventoForm.tipo.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>

        <!-- COORDINADOR -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="coordinador">Coordinador(es)</label>
            <input type="text" class="form-control" ng-repeat="coordinador in coordinadores" placeholder="Persona(s) encargada(s) del evento" ng-model="coordinador.nombre" ng-blur="updateCoordinador()">
            <button class="btn btn-default" ng-click="add()" ng-disabled="coordinadores[coordinadores.length-1].nombre === ''" ng-show="coordinadores.length < maxLengthCoordinadores"><i class="fa fa-user-plus"></i></button>
        </div>

        <!-- PARTICIPANTES -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="participantes">Participantes</label>
            <input type="text" class="form-control" ng-repeat="participante in participantes" placeholder="Persona destacada en el evento" ng-model="participante.nombre" ng-blur="updateParticipantes()">
            <button class="btn btn-default" ng-click="addParticipante()" ng-disabled="participantes[participantes.length-1].nombre === ''" ng-show="participantes.length < maxLengthParticipantes"><i class="fa fa-user-plus"></i></button>
        </div>

        <!-- IMAGEN -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="imagen">Imagen</label>
            <!-- Detalles del componente: https://github.com/danialfarid/ng-file-upload -->
            <div class="drag-drop-area" ngf-select="uploadImage($file)" ngf-drop="uploadImage($file)" ng-model="imagen" ng-show="imageContainer" name="imagen" id="imagen" ngf-capture="'camera'" ngf-accept="'image/*'" ngf-pattern="'image/*'"><i class="fa fa-file-image-o"></i> Selecciona o arrastra imagen</div>
            <!--Previsualización de imagen-->
            <!-- <img class="full-width" ngf-src="imagen" ngf-resize="{height: 120, quality: 0.9}"> -->
            <img class="preview full-width" ng-show="evento.imagen" src="imgs/eventos/{{evento.imagen}}">
            <button type="button" class="btn btn-danger" ng-show="evento.imagen" ng-click="deleteImage()">Eliminar <i class="fa fa-times" aria-hidden="true"></i></button>
        </div>

        <!-- ARCHIVOS ADJUNTOS -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="ajduntos">Archivos adjuntos</label>
            <button type="button" class="btn btn-default full-width" name="adjuntos" id="adjuntos" ngf-select="uploadFiles($files)" ng-model="adjuntosModel" ngf-multiple="true" ngf-keep="'distinct'" ngf-accept="'image/*,.pdf,.doc,.docx'" ngf-max-files="20" ngf-pattern="'image/*,.pdf,.doc,.docx'" ngf-max-size="'100MB'" ngf-max-total-size="'200MB'">Selecciona archivos...</button>
            <div class="files-upload">
                <ul class="list-inline">
                    <li ng-repeat="adjunto in adjuntos">
                        <span class="label label-default label-lg">{{adjunto.filename}} <button type="button" class="btn btn-danger btn-xs" ng-click="deleteFile(adjunto)"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                        <!-- <span ng-click="deleteFile(documento)"><i class="fa fa-times" aria-hidden="true"></i></span> -->
                    </li>
                </ul>
            </div>
        </div>

        <!-- PALABRAS CLAVE (KEYWORDS) -->
        <div class="form-group">
            <label class="control-label color-title format-title" for="keywords">Palabras clave</label>
            <tags-input ng-model="keywords" name="keywords" id="keywords" type="text" placeholder="Agrega una etiqueta" min-length="3" max-length="50" min-tags="0" max-tags="10"  replace-spaces-with-dashes="false" add-from-autocomplete-only="true" spellcheck="false" ng-blur="updateKeywords()">
                <auto-complete source="loadTags($query)" display-property="text" min-length="1" max-results-to-show="5"></auto-complete>
            </tags-input>
        </div>

        <!-- NOTAS -->
        <div class="form-group" ng-class="{'has-error': eventoForm.notas.$dirty && eventoForm.notas.$invalid}">
            <label class="control-label color-title format-title" for="notas">Notas</label>
            <textarea class="form-control" rows="3" name="notas" id="notas" placeholder="Información adicional acerca del evento" ng-model="evento.notas" ng-trim></textarea>
            <div ng-messages="eventoForm.notas.$error" ng-show="eventoForm.notas.$dirty && eventoForm.notas.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-if="!edit" ng-disabled="eventoForm.$invalid" ng-click="enviar()">Agregar evento</button>
        <button type="submit" class="btn btn-primary" ng-if="edit" ng-disabled="eventoForm.$invalid" ng-click="editar()">Editar evento</button>
    </form>

    <!-- <br>
    <pre>{{evento | json}}</pre>
    <br>
    <pre>{{adjuntos | json}}</pre>
    <br>
    <pre>{{nuevosAdjuntos | json}}</pre>
    <br>
    <pre>{{progressPercentage}}</pre> -->
</div>