<!--Página que muestra toda la información referente a un evento en particular-->

<div class="container">
	<!-- <hr> -->
	<div class="jumbotron">
		<center>
			<h1>{{evento.titulo}}</h1>
			<img class="img-responsive img-rounded" src="imgs/eventos/{{evento.imagenPrincipal}}">
		</center>
		<p ng-show="evento.realizador && evento.realizador.length > 0" class="text-center">{{realizador}}</p>
		<hr>
		<p ng-bind-html="evento.contenidoHTML"></p>
		<hr>
		<div ng-show="geocodeResult">
			<h4>Dirección</h4>
			<p>{{geocodeResult.formatted_address}}</p>
			<div id="map"></div>
		</div>
		<div ng-if="evento.fecha">
			<h4>Fecha <span ng-show="evento.horario">y hora</span></h4>
			<p class="capitalize">
				{{evento.fecha | date : 'fullDate'}}<span ng-show="evento.horarioFin"> al {{evento.fechaFin | date : 'fullDate'}}</span>
				<span ng-show="evento.horario"><br>
					{{evento.horario | date : 'shortTime'}}</span><span ng-show="evento.horarioFin"> a {{evento.horarioFin | date : 'shortTime'}}
				</span>
			</p>
		</div>
		<div ng-show="evento.tipo">
			<h4>Tipo de evento</h4>
			<p class="capitalize">{{evento.tipo}}</p>
		</div>
		<div ng-if="evento.notas">
			<h4>Notas:</h4>
			<p>{{evento.notas}}</p>
		</div>
		<div ng-if="evento.documentos && evento.documentos.length > 0">
			<h4>Archivos adjuntos</h4>
			<ul>
				<li ng-repeat="documento in evento.documentos"><a href="docs/eventos/{{documento}}" target="_blank">{{documento}}</a></li>
			</ul>
		</div>

		<!-- <br>
    	<pre>{{evento | json}}</pre> -->
	</div>
</div>