<!-- Página que muestra todos los eventos que se tiene, ya sean de docencia o académicos -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="color-title event-main-title">
				Eventos
				<span ng-if="can('create')"><a href="eventos/nuevo" class="inverted-secret-icon"><i class="fa fa-plus" aria-hidden="true"></i></a></span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<uib-tabset active="active" justified="false" type="tabs" vertical="false">
				<uib-tab index="$index" ng-repeat="group in eventos" ng-click="setUrl($index)" heading="{{group._id || 'Otros'}}" classes="tab-style-years">
					<div class="row">
						<div class="col-sm-6 col-md-4" ng-repeat="evento in group.eventos">
							<a href="/eventos/{{evento._id}}" class="no-text-decoration">
								<div class="my-thumbnail">
						  			<!-- CON IMAGEN COMO PORTADA: -->
						  			<img class="thumbnail-image" src="imgs/eventos/{{evento.imagen}}" ng-show="evento.imagen">
							  		<!-- SIN IMAGEN, TEXTO COMO PORTADA: -->
							  		<div class="new-image-replacement" ng-show="!evento.imagen"></div>
						  			<div class="vertically-centered">
						    			<div>{{evento.titulo}}</div>
						  			</div>
							  		<!-- AVISO EN EVENTOS PROXIMOS: -->
						  			<div class="available-label" ng-show="isAvaliable(evento.fecha)">Próximamente</div>
								</div>
							</a>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>

	
</div>

