<!--Página que muestra toda la información referente a un evento en particular-->

<div class="container" id="eventoContenedor">
	<hr>	
	<div class="jumbotron">
		<center>
			<img class="img-responsive img-rounded" src="imgs/{{imagenPrincipal}}">
			<h1>{{titulo}}</h1>
		</center>
		<p id="secRealizadores">Por: {{realizador}}</p>
		<hr id="separadorInicio">
		<p>{{contenidoHTML}}</p>
		<hr>
		<h4>Lugar: </h4>
		<p>{{lugar}}</p>
		<hr>
		<h4>Tipo: </h4>
		<p>{{tipo}}</p>
		<h4></h4>

	</div>
</div>