<div class="bicolor-sections">
    
    <!-- Seccion de carrusel/inicio -->
    <section id="info" style="padding: 0 0 3em; background-color: #222">
        <center>
            <div uib-carousel interval="7000" active="0">
                <div uib-slide ng-repeat="slide in slides" index="$index">
                    <a href="{{slide.url}}" ng-if="slide.url">
                        <img class="slide-img" ng-src="{{slide.image}}">
                    </a>
                    <img class="slide-img" ng-src="{{slide.image}}" ng-if="!slide.url">
                    <div class="carousel-caption hidden-xs hidden-sm" ng-if="slide.text">
                        {{slide.text}}
                    </div>
                </div>
            </div>
        </center>
    </section>

    <section id="intro" class="parallax parallax-bgim-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary">
                            <center>
                                <img id="iconoLAIS" class="img-responsive" src="imgs/lais_logo.png">
                            </center>
                        </i>
                    </span>
                    <p>
                        El <strong>Laboratorio Audiovisual de Investigación Social (LAIS)</strong> es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes. Creado en 2002, el LAIS realiza estudios que incorporan imágenes, tanto fijas como en movimiento, como fuentes primarias, ya sea procedentes de archivo o generadas desde la misma investigación; y como medio de divulgación de las investigaciones sociales.
                    </p>
                    <small ng-click="openModal()">Leer más...</small>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Historia -->
    <section id="trayectoria" style="padding: 3em 0;">
        <div class="container">
            <div class="row text-center">
                <!-- <p>
                    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1iTb_62FbhEvvrsr0d7NRzJe6ywHEwtgsoWoumVKb6J4&font=OpenSans-GentiumBook&lang=en&hash_bookmark=true&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                </p> -->
                <div id="timeline-embed" style="width: 100%; height: 600px; background-color: #eee"></div>
            </div>
        </div>
    </section>

    <!-- Seccion de Recusos en Línea -->
    <section id="recursos" class="parallax parallax-bgim-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recursos en Línea</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="http://lais.mora.edu.mx/huellasdeluz/" target="_blank">
                        <img src="imgs/Huellas_de_Luz.png" class="img-responsive img-circle imagen">
                    </a>
                    <h4 class="service-heading">Huellaz de Luz</h4>
                    <div class="service-subheading">Investigación sobre el patrimonio visual latinoamericano en acceso libre</div>
                    <p> <!-- class="text-muted" -->
                        Da acceso a <strong>imágenes</strong> de América Latina, siglos XIX y XX. Incluye documentación que permite ir más allá de las imágenes y conocer acerca de sus contextos de producción. Vincula con archivos de imágenes de diversos países latinoamericanos y quienes las estudian.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="http://lais.mora.edu.mx/metadoc/#/" target="_blank">
                        <img src="imgs/metaDOC.png" class="img-responsive img-circle imagen">
                    </a>
                    <div><h4 class="service-heading">metaDOC</h4></div>
                    <div class="service-subheading">Documentales e investigación</div>
                    <p> <!-- class="text-muted" -->
                        Sitio web que pone a disposición la catalogación de la colección de <strong>documentales</strong> del Laboratorio Audiovisual de Investigación Social del Instituto Mora, con la intención de impulsar el análisis e investigación sobre este tipo de documentos.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.mora.edu.mx/Investigacion/Interactivo_como_la_ves/index.htm" target="_blank">
                        <img src="imgs/Como_la_ves.png" class="img-responsive img-circle imagen">
                    </a>
                    <div><h4 class="service-heading">¿Cómo la ves?</h4></div>
                    <div class="service-subheading">Exposición Interactiva</div>
                    <p> <!-- class="text-muted" -->
                        Interactivo diseñado para los padres, tutores y maestros que estamos interesados en reflexionar sobre el consumo indiscriminado y excesivo de la <strong>televisión comercial</strong> por parte de nuestros hijos y alumnos.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Publicaciones -->
    <section id="publicaciones" class="parallax parallax-bgim-2" style="background-image: none; background-color: #222; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="/publicacion" class="link-other-color">Publicaciones</a></h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Art%C3%ADculo">
                        <img src="/imgs/publicaciones/mixcoac.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <h4 class="service-heading"><a href="/publicacion?show=Art%C3%ADculo" class="link-other-color no-text-decoration">Artículos</a></h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Libro">
                        <img src="/imgs/publicaciones/Tejedores_de_imagenes.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Libro" class="link-other-color no-text-decoration">Libros</a></h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Documental">
                        <img src="/imgs/publicaciones/revelando.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Documental" class="link-other-color no-text-decoration">Documentales</a></h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Exposición">
                        <img src="http://lorempixel.com/250/300/abstract/4" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Exposición" class="link-other-color no-text-decoration">Exposiciones</a></h4></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Eventos -->
    <section id="eventos" class="parallax parallax-bgim-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="/eventos" class="link-other-color">Eventos</a></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <uib-tabset active="0" justified="false" type="tabs" vertical="false">
                        <uib-tab index="$index" ng-repeat="year in years" ng-click="viewEvents($index)" heading="{{year._id || 'Otros'}}" classes="tab-style-years">
                            <div class="row">
                                <div class="col-sm-6 col-md-3" ng-repeat="evento in eventos">
                                    <a href="/eventos/{{evento._id}}" class="no-text-decoration">
                                        <div class="my-thumbnail">
                                            <!-- CON IMAGEN COMO PORTADA: -->
                                            <img class="thumbnail-image" src="imgs/eventos/{{evento.imagen}}" ng-show="evento.imagen">
                                            <!-- SIN IMAGEN, TEXTO COMO PORTADA: -->
                                            <div class="new-image-replacement" ng-show="!evento.imagen"></div>
                                            <div class="vertically-centered">
                                                <div>{{evento.titulo}}</div>
                                            </div>
                                            <!-- AVISO EN EVENTOS PROXIMOS: -->
                                            <div class="available-label" ng-show="isAvaliable(evento.fecha)">Próximamente</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

        </div>
    </section>

    <script type="text/ng-template" id="about.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title"><center>Acerca del LAIS</center></h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>
                El Laboratorio Audiovisual de Investigación Social (LAIS) es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes. Creado en <strong>2002</strong>, el LAIS   realiza estudios que incorporan imágenes, tanto fijas como en movimiento, de diferentes maneras:

                <ul>
                    <li>Como fuentes primarias, ya sea procedentes de archivo o generadas desde la misma investigación; y como medio de divulgación de las investigaciones sociales.</li>
                </ul>
            </p>
            
            <p>
                Como parte de este trabajo, llevamos a cabo diversas actividades, entre ellas:
            </p>

            <ul>
                <li>Construimos propuestas teóricas, metodológicas, técnicas y sociales relacionadas con estos modos de incorporación de las imágenes a la investigación</li>

                <li>Fomentamos el análisis del ambiente audiovisual en el cual estamos inmersos</li>

                <li>Desarrollamos mecanismos de acceso libre al patrimonio imagético y de procesamiento de datos catalográficos; y formamos recursos humanos</li>
            </ul>

            <h4>Publicaciones</h4>

            <p>
                Las publicaciones del LAIS incluyen libros, capítulos de libros, artículos, documentales, interactivos, exposiciones y sitios Web.
                <br>
                <a href="/publicacion">Consulta aquí</a> la base de datos de publicaciones del LAIS.
            </p>

            <h4>Documentales</h4>

            <p>
                Hemos producido documentales sobre temas como la historia del pueblo de Mixcoac, la vida de un ferrocarrilero mexicano, los problemas de la investigación social con imágenes y de los archivos que resguardan tales documentos, y las prácticas de la exhibición de películas en la Ciudad de México.
                <br>

                Las fichas de nuestros documentales pueden <a href="http://www.mora.edu.mx/Investigacion/SitePages/LAIS-Video/Mas-Videos.aspx">consultarse aquí</a>
            </p>

            <h4>Proyectos y actividades académicas</h4>

            <p>
                Investigación sobre Gestión y Difusión del Patrimonio Visual Comunitario, 2012-2013, con el apoyo del FONCA.
            </p>

            <p>
                Desde su conformación, el LAIS ha desarrollado diversos proyectos con el apoyo del CONACYT:
            </p>

            <ul>
                <li>Los Usos de lo Visual en la Investigación Social (antecedente directo, 2000-2001)</li>

                <li>Laboratorio Audiovisual de Investigación Social (2002-2006)</li>

                <li>Preservación de Imágenes: Sistemas de Información, Acceso e Investigación (2007-2012)</li>
            </ul>

            <p>
                Entre los eventos académicos y cursos que ha organizado, destacan:
            </p>

            <ul>
                <li>Primer Congreso Internacional sobre Imágenes e Investigación Social (2002)</li>
                <li>Seminario de Estudios sobre lo Visual en la Investigación Social (2001-2003)</li>
                <li>Seminario sobre el Sistema de Información para Archivos de Imágenes (2002-2003)</li>
                <li>Seminario sobre La Fotografía como Fuente de Investigación (2004-2010)</li>
                <li>Taller de Manejo de Equipo Audiovisual en la Investigación Social (desde 2003)</li>
                <li>Cursos de Estudios de la Imagen (desde 2006)</li>
                <li>Cursos de Diseño y Producción Audiovisual (desde 2012)</li>
                <li>Curso de Especialización en Investigación Social con Imágenes (desde 2012)</li>
                <li>Cursos de Lenguaje Audiovisual e Investigación Social (desde 1999)</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeModal()">Cerrar</button>
        </div>
    </script>
</div> 