<div class="bicolor-sections">

    <!-- Seccion de carrusel/inicio -->
    <section id="info" style="padding: 0 0 3em; background-color: #222">
        <center>
            <div uib-carousel interval="7000" active="0">
                <div uib-slide ng-repeat="slide in slides" index="$index">
                    <a ng-href="{{slide.url}}" ng-if="slide.url" target="_blank">
                        <img class="slide-img" ng-src="{{slide.image}}">
                    </a>
                    <img class="slide-img" ng-src="{{slide.image}}" ng-if="!slide.url">
                    <div class="carousel-caption hidden-xs hidden-sm" ng-if="slide.text">
                        {{slide.text}}
                    </div>
                </div>
            </div>
        </center>
    </section>

    <section id="intro" class="parallax parallax-bgim-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary">
                            <center>
                                <img id="iconoLAIS" class="img-responsive" src="imgs/lais_logo.png">
                            </center>
                        </i>
                    </span>
                    <p>
                        El <strong>Laboratorio Audiovisual de Investigación Social (LAIS)</strong> es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes. Creado en 2002 con un equipo multidisciplinario, el LAIS realiza estudios que incorporan imágenes y material audiovisual como fuentes primarias de investigación, sean estas recopiladas en diversidad de acervos y colecciones, o bien generadas desde la misma investigación; forma recursos humanos en esta línea de manera permanente; e impulsa la documentación y divulgación de investigaciones sociales y acervos documentales.
                    </p>
                    <!-- <small ng-click="openModal()" style="text-decoration: underline; ">Leer más...</small> -->
                    <p><a href="/acerca" class="mt-2" style="text-decoration: underline; font-size: 80%; color: #ccc; font-weight: bolder;">Conocer más sobre el LAIS</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Historia -->
    <section id="trayectoria" style="padding: 0;" class="parallax parallax-bgim-3">
        <div class="container" style="margin: 0; width: 100%">
            <div class="row text-center">
                <!-- <p>
                    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1iTb_62FbhEvvrsr0d7NRzJe6ywHEwtgsoWoumVKb6J4&font=OpenSans-GentiumBook&lang=en&hash_bookmark=true&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                </p> -->
                <div id="timeline-embed" style="width: 100%; height: 700px; background-color: #eee"></div>
            </div>
        </div>
    </section>

    <!-- Seccion de Recusos en Línea -->
    <section id="recursos" class="parallax parallax-bgim-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recursos en Línea</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://lais.mora.edu.mx/huellasdeluz/" target="_blank">
                        <img src="imgs/Huellas_de_Luz.png" class="img-responsive img-circle imagen">
                    </a>
                    <h4 class="service-heading">Huellas de Luz</h4>
                    <div class="service-subheading">Investigación sobre el patrimonio visual latinoamericano en acceso libre</div>
                    <p> <!-- class="text-muted" -->
                        Da acceso a <strong>imágenes</strong> de América Latina, siglos XIX y XX. Incluye documentación que permite ir más allá de las imágenes y conocer acerca de sus contextos de producción. Vincula con archivos de imágenes de diversos países latinoamericanos y quienes las estudian.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="http://lais.mora.edu.mx/metadoc/#/" target="_blank">
                        <img src="imgs/metaDOC.png" class="img-responsive img-circle imagen">
                    </a>
                    <div><h4 class="service-heading">metaDOC</h4></div>
                    <div class="service-subheading">Documentales e investigación</div>
                    <p> <!-- class="text-muted" -->
                        Sitio web que pone a disposición la catalogación de la colección de <strong>documentales</strong> del Laboratorio Audiovisual de Investigación Social del Instituto Mora, con la intención de impulsar el análisis e investigación sobre este tipo de documentos.
                    </p>
                </div>
                <!-- <div class="col-md-4">
                    <a href="https://www.institutomora.edu.mx/Investigacion/Interactivo_como_la_ves/index.htm" target="_blank">
                        <img src="imgs/Como_la_ves.png" class="img-responsive img-circle imagen">
                    </a>
                    <div><h4 class="service-heading">¿Cómo la ves?</h4></div>
                    <div class="service-subheading">Exposición Interactiva</div>
                    <p>
                        Interactivo diseñado para los padres, tutores y maestros que estamos interesados en reflexionar sobre el consumo indiscriminado y excesivo de la <strong>televisión comercial</strong> por parte de nuestros hijos y alumnos.
                    </p>
                </div> -->
                <div class="col-md-4">
                    <a href="https://open.spotify.com/show/1m5NFPzgKRYLCn6toKqy5F?si=68d1f43e4b664c0a" target="_blank">
                        <img src="imgs/Podcast_La_Isla_Audiovisual.jpg" class="img-responsive img-circle imagen">
                    </a>
                    <div><h4 class="service-heading">La Isla Audiovisual</h4></div>
                    <div class="service-subheading">Podcast</div>
                    <p> <!-- class="text-muted" -->
                        Conversatorios y experiencias audiovisuales en torno a la investigación de fuentes audiovisuales para la investigación social. Producido por el Laboratorio Audiovisual de Investigación Social (LAIS).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Publicaciones -->
    <!-- <section id="publicaciones" class="parallax parallax-bgim-4" style="background-image: none; background-color: #222; "> -->
    <section id="publicaciones" class="parallax parallax-bgim-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="/publicacion" class="link-other-color">Publicaciones</a></h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Art%C3%ADculo">
                        <img src="/imgs/Revista_Iztapalapa_91.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <h4 class="service-heading"><a href="/publicacion?show=Art%C3%ADculo" class="link-other-color no-text-decoration">Artículos</a></h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Libro">
                        <img src="/imgs/Metodos_en_accion.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Libro" class="link-other-color no-text-decoration">Libros</a></h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Documental">
                        <img src="/imgs/publicaciones/revelando.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Documental" class="link-other-color no-text-decoration">Documentales</a></h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/publicacion?show=Exposición">
                        <img src="/imgs/Un_Paisaje_Fronterizo.jpg" class="img-responsive publicaciones-inicio">
                    </a>
                    <div><h4 class="service-heading"><a href="/publicacion?show=Exposición" class="link-other-color no-text-decoration">Exposiciones</a></h4></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de Eventos -->
    <section id="eventos" class="parallax parallax-bgim-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="/eventos" class="link-other-color">Actividades académicas</a></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <uib-tabset active="0" justified="false" type="tabs" vertical="false">
                        <uib-tab index="$index" ng-repeat="year in years" ng-click="viewEvents($index)" heading="{{year._id || 'Otros'}}" classes="tab-style-years">
                            <div class="row">
                                <div class="col-sm-6 col-md-3" ng-repeat="evento in eventos">
                                    <!-- <a href="/eventos/{{evento._id}}" class="no-text-decoration"> -->
                                    <a href="/eventos" class="no-text-decoration">
                                        <div class="my-thumbnail">
                                            <!-- CON IMAGEN COMO PORTADA: -->
                                            <img class="thumbnail-image" src="imgs/eventos/{{evento.imagen}}" ng-show="evento.imagen">
                                            <!-- SIN IMAGEN, TEXTO COMO PORTADA: -->
                                            <div class="new-image-replacement" ng-show="!evento.imagen"></div>
                                            <div class="vertically-centered">
                                                <div>{{evento.titulo}}</div>
                                            </div>
                                            <!-- AVISO EN EVENTOS PROXIMOS: -->
                                            <div class="available-label" ng-show="isAvaliable(evento.fecha)">Próximamente</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

        </div>
    </section>

    <script type="text/ng-template" id="about.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title"><center>Acerca del LAIS</center></h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>
                El <strong>Laboratorio Audiovisual de Investigación Social (LAIS)</strong> es un espacio colectivo e interdisciplinario dedicado a la investigación social con imágenes.
            </p>

            <p>
              Creado en 2002 con un equipo multidisciplinario, el LAIS realiza estudios que incorporan imágenes y material audiovisual como fuentes primarias de investigación, sean estas recopiladas en diversidad de acervos y colecciones, o bien generadas desde la misma investigación; forma recursos humanos en esta línea de manera permanente; e impulsa la documentación y divulgación de investigaciones sociales y acervos documentales.
            </p>

            <h4>Propósitos</h4>
            <p>
                El LAIS desarrolla propuestas metodológicas de investigación social con imágenes e investigación audiovisual, partiendo de las imágenes y materiales audiovisuales como documentos y los desafíos que implica su construcción como fuentes de investigación.
            </p>
            <p>
              Las dos vertientes de trabajo se centran en las imágenes como fuentes primarias, ya sea procedentes de archivos o colecciones particulares, como también las generadas desde la misma investigación a través del trabajo de registro y documentación en campo.
            </p>
            <p>
              A su vez, prioriza los trabajos de divulgación que las incorporan en sus resultados, como documentales, exposiciones y sitios web.
            </p>

            <h4>Actividades</h4>
            <p>
              Con estos propósitos, llevamos a cabo las siguientes actividades:
            </p>
            <ul>
              <li>Fomentamos el análisis del ambiente audiovisual en el cual estamos inmersos, a través de diversidad de eventos académicos </li>
              <li>Construimos propuestas teóricas, conceptuales, metodológicas, técnicas y sociales relacionadas con estos modos de incorporación de las imágenes y materiales audiovisuales como fuentes de investigación</li>
              <li>Desarrollamos mecanismos de acceso libre al patrimonio audiovisual y de procesamiento de datos catalográficos</li>
              <li>Hacemos investigación social con imágenes y materiales audiovisuales, con énfasis en documentales</li>
              <li>Formamos recursos humanos a través de cursos de especialización y cursos semestrales en los programas de estudio del Instituto</li>
            </ul>

            <h4>Publicaciones</h4>
            <p>
              Las publicaciones del LAIS incluyen libros, capítulos de libros, artículos, documentales, interactivos, exposiciones y sitios en línea.
            </p>
            <p>
              El LAIS obtuvo en 2014 el premio A. García Cubas que otorga el INAH, por su libro <em>Tejedores de imágenes. Propuestas metodológicas de investigación y gestión del patrimonio fotográfico y audiovisual</em>.
            </p>
            <p>
              <a href="https://lais.mora.edu.mx/publicacion">Ver publicaciones del LAIS</a>
            </p>

            <h4>Documentales</h4>
            <p>
              Hemos producido documentales sobre diversas temáticas, como una historia oral del pueblo de Mixcoac, la vida de un ferrocarrilero jefe de estación en México, los problemas de la investigación social con imágenes y de los archivos que resguardan tales documentos, las pautas de cuidado y alimentación en una comunidad de niños y niñas que reflexionan sobre la exposición a la televisión comercial y su salud, y las prácticas de la exhibición de películas en la Ciudad de México, entre varias más.
            </p>
            <p>
              <a href="https://lais.mora.edu.mx/publicacion?show=Documental">Ver documentales del LAIS</a>.
            </p>

            <h4>Sitio <em>Huellas de Luz</em></h4>
            <p>
              Inaugurado por el LAIS en 2012, el sitio web Huellas de Luz, producido con colegas de Argentina, Brasil y México, presenta alrededor de 1.700 imágenes, sobre todo fotografías, procedentes de archivos públicos y particulares de América Latina, Europa y Estados Unidos. Las imágenes están acompañadas de documentación basada en la norma catalográfica ISAD(G) y ensayos con los resultados de las investigaciones que las integran. Las imágenes y datos que presenta fueron reunidos por investigaciones sobre temas tan diversos como el trabajo fotográfico de migrantes europeos en América Latina, los ferrocarriles de la Ciudad de México y sus alrededores, la ciudad de Orizaba en el siglo XIX y a inicios del XX, y un crucero conocido en el centro de la Ciudad de México en buena parte del siglo XX.
            </p>
            <p>
              Las propuestas del LAIS sobre la incorporación de imágenes como fuentes primarias confluyen en el sitio de diversas maneras. Asimismo, el sitio busca transformar las prácticas de investigación y acceso a la información para hacerlas más abiertas, horizontales e interactivas.
            </p>
            <p>
              El sitio funciona mediante un sistema informático propio, creado en el Laboratorio y próximo a relanzar en su nueva versión 2021.
            </p>
            <p>
              <a href="https://lais.mora.edu.mx/huellasdeluz/">Ver el sitio <em>Huellas de Luz</em></a>
            </p>

            <h4>Interactivo <em>¿Cómo las ves? Infancia y Televisión</em></h4>
            <p>
              Diseñado para los padres, tutores y maestros que estamos interesados en reflexionar sobre el consumo indiscriminado y excesivo de la televisión comercial por parte de nuestros hijos y alumnos.
            </p>
            <p>
              <a href="https://www.institutomora.edu.mx/Investigacion/Interactivo_como_la_ves/index.htm">Ver el interactivo <em>¿Cómo la ves?</em></a>
            </p>

            <h4>Sitio <em>metaDOC Documentales e Investigación</em></h4>
            <p>
              Sitio web que pone a disposición la catalogación de la colección de documentales del LAIS, con la intención de impulsar el análisis e investigación sobre este tipo de documentos.
            </p>
            <p>
              <a href="https://lais.mora.edu.mx/metadoc/">Ver el sitio <em>metaDOC</em></a>
            </p>

            <h4>Integrantes</h4>
            <p>
              Los integrantes del LAIS cuentan con formaciones en diversos campos, incluyendo comunicación, historia, antropología, ciencias de la computación y estudios latinoamericanos.
            </p>

            <h4>Proyectos y actividades académicas</h4>
            <p>
              Desde su conformación, el LAIS ha desarrollado diversos proyectos con el apoyo del CONACYT y el FONCA:
            </p>
            <ul>
              <li>Los Usos de lo Visual en la Investigación Social (antecedente directo, 2000-2001)</li>
              <li>Laboratorio Audiovisual de Investigación Social (2002-2006)</li>
              <li>Preservación de Imágenes: Sistemas de Información, Acceso e Investigación (2007-2012)</li>
              <li>Metodologías de investigación con fuentes audiovisuales (2012-2016)</li>
              <li>Fuentes audiovisuales e investigación social (2017-2020)</li>
            </ul>
            <p>
              Entre los eventos académicos y cursos que ha organizado, destacan:
            </p>
            <ul>
              <li>Primer Congreso Internacional sobre Imágenes e Investigación Social (2002)</li>
              <li>Cursos de Lenguaje Audiovisual e Investigación Social con especialistas internacionales (desde 1999)</li>
              <li>Seminario de Estudios sobre lo Visual en la Investigación Social (2001-2003)</li>
              <li>Seminario sobre el Sistema de Información para Archivos de Imágenes (2002-2003)</li>
              <li>Seminario sobre La Fotografía como Fuente de Investigación (2004-2010)</li>
              <li>Taller de Manejo de Equipo Audiovisual en la Investigación Social (desde 2003)</li>
              <li>Cursos de Estudios de la Imagen en la licenciatura en historia (desde 2006)</li>
              <li>Cursos sobre Técnicas de Investigación Cualitativa en el posgrado (desde 2006)</li>
              <li>Cursos de Diseño y Producción Audiovisual en la licenciatura en historia (desde 2012)</li>
              <li>Curso de Especialización en Investigación Social con Imágenes (desde 2012)</li>
              <li>Seminario sobre Documental e Investigación (desde 2017)</li>
              <li>Seminario Bitácora Metodológica (desde 2018)</li>
            </ul>
            <p>
              En 2019 impulsamos la creación de <em>ReDOC Investigación, Red de Investigación sobre Documentales</em>, que reúne a varias decenas de especialistas dedicados a la investigacio´n sobre y para documentales en doce países.
            </p>

            <h4>Infraestructura y equipamiento</h4>
            <p>
              El Laboratorio Audiovisual de Investigación Social fue creado en 2002 y equipado en el marco del proyecto CONACYT de mismo nombre entre 2002 y 2006. Con el tiempo ha renovado y ampliado su infraestructura digital.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeModal()">Cerrar</button>
        </div>
    </script>

</div>
