<div class="container my-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1 class="color-title">
				Integrantes
			</h1>
		</div>
	</div>

	<div class="row">
		<!-- <div class="col-xs-12 margin-bottom-2" style="margin-bottom: 1em;">
            <div class="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
		</div> -->

		<!-- Lourdes Roca -->
		<div class="col-xs-12">
			<div class="card horizontal grey lighten-2">
				<div class="card-image">
					<img src="imgs/integrantes/Lourdes Roca.jpg" alt="" class="img-responsive">
				</div>
				<div class="card-stacked">
					<div class="card-content grey-text text-darken-4">
						<span class="card-title indigo-text text-darken-3">
							Lourdes Roca
						</span>
						<p>
							Lourdes Roca es profesora-investigadora del Instituto Mora. Coordina el Laboratorio Audiovisual de Investigación Social que fundó en 2002. Es doctora en antropología y documentalista, con una formación multidisciplinaria en comunicación, historia y antropología. Se ha dedicado a la divulgación histórica audiovisual, la realización de documentales de investigación, la investigación social con imágenes, la construcción de propuestas metodológicas para su incorporación como fuentes de investigación, la historiografía del documental en México y la investigación audiovisual. Su publicación colectiva, <em>Tejedores de imágenes. Propuestas metodológicas de Investigación y Gestión del Patrimonio Forográfico y Audiovisual</em> (2014), recibió el Premio Antonio García Cubas del INAH, México.
						</p>
						<p>
							<span class="indigo-text text-darken-3"><strong>Lineas de investigación: </strong></span>
							Investigación audiovisual con fuentes audiovisuales, historiografía del documental en México, divulgación histórica audiovisual.
						</p>
						<p class="indigo-text text-darken-3">
							<a href="mailto:lroca@mora.edu.mx" style="color: #283593 !important;">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								lroca@mora.edu.mx
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Felipe Morales Leal -->
		<div class="col-xs-12">
			<div class="card horizontal grey lighten-2">
				<div class="card-image">
					<img src="imgs/integrantes/Felipe Morales.jpg" alt="" class="img-responsive">
				</div>
				<div class="card-stacked">
					<div class="card-content grey-text text-darken-4">
						<span class="card-title indigo-text text-darken-3">
							Felipe Morales Leal
						</span>
						<p>
							Felipe Morales Leal es maestro en Comunicación por el Programa de Posgrado en Ciencias Políticas y Sociales de la UNAM. Integrante del Laboratorio Audiovisual de Investigación Social del Instituto Mora desde su fundación en el año de 2002, donde ha colaborado en diversos proyectos de investigación y divulgación del conocimiento social. Actualmente es profesor del Instituto Mora donde imparte la materia de Producción Audiovisual. Ha hecho investigación, guionismo y realización de varios documentales del propio Instituto Mora. Por más de una década se ha dedicado al estudio de la exhibición cinematográfica en la ciudad de México, abordando sus transformaciones y la forma en que éstas han afectado a los asistentes a las salas.
						</p>
						<p>
							<span class="indigo-text text-darken-3"><strong>Lineas de investigación: </strong></span>
							Investigación audiovisual con fuentes audiovisuales, exhibición cinematográfica en la Ciudad de México.
						</p>
						<p class="indigo-text text-darken-3">
							<a href="mailto:fmorales@mora.edu.mx" style="color: #283593 !important;">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								fmorales@mora.edu.mx
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Add the extra clearfix for only the required viewport -->
		<div class="clearfix visible-xs-block"></div>

		<!-- Lilia García -->
		<div class="col-xs-12">
			<div class="card horizontal grey lighten-2">
				<div class="card-image">
					<img src="imgs/integrantes/Lilia García.jpg" alt="" class="img-responsive">
				</div>
				<div class="card-stacked">
					<div class="card-content grey-text text-darken-4">
						<span class="card-title indigo-text text-darken-3">
							Lilia García
						</span>
						<p>
							Lilia García Torres es integrante del LAIS desde 2021 y doctorante en Estudios Latinoamericanos en la Universidad Nacional Autónoma de México. Es corealizadora del documental <em>Trinchera sonora. Voces y Miradas de Radio Venderemos</em> (2017) y realizadora de <em>Polinizadorxs. Resistencia en la Península de Yucatán</em> (2022). En 2020 impulso del Editatón “Mujeres documentalistas a la wiki”, y actualmente coordina la investigación “Mujeres Documentalistas en México (1970-1985)”.
						</p>
						<p>
							<span class="indigo-text text-darken-3"><strong>Lineas de investigación: </strong></span>
							Producción de imágenes hechas por grupos guerrilleros y documental hecho por mujeres.
						</p>
						<p class="indigo-text text-darken-3">
							<a href="mailto:lgarciat@mora.edu.mx" style="color: #283593 !important;">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								lgarciat@mora.edu.mx
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Rodrigo Colín -->
		<div class="col-xs-12">
			<div class="card horizontal grey lighten-2">
				<div class="card-image">
					<img src="imgs/integrantes/Rodrigo Colín.jpg" alt="" class="img-responsive">
				</div>
				<div class="card-stacked">
					<div class="card-content grey-text text-darken-4">
						<span class="card-title indigo-text text-darken-3">
							Rodrigo Colín
						</span>
						<p>
							Rodrigo Colín es integrante del LAIS desde 2015 con formación en ciencias de la computación por parte de la Facultad de Ciencias de la Universidad Nacional Autónoma de México. Colabora en el desarrollo de sistemas, digitalización de material audiovisual y posproducción audiovisual. Es programador del sitio web <em>metaDOC Documentales e Investigación</em>, especializado en catalogación y difusión de documentales para impulsar su análisis. Actualmente desarrolla alternativas de software libre para la catalogación de registros audiovisuales.
						</p>
						<p>
							<span class="indigo-text text-darken-3"><strong>Lineas de investigación: </strong></span>
							Humanidades digitales, desarrollo de software libre.
						</p>
						<p class="indigo-text text-darken-3">
							<a href="mailto:rcolin@mora.edu.mx" style="color: #283593 !important;">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								rcolin@mora.edu.mx
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>