<!-- Página con el formulario para agregar un publicacion -->

<div class="container my-container">
    <!--Script para mostrar mensajes de error en los campos del formulario-->
    <script type="text/ng-template" id="error-messages">
        <span ng-message="required" class="help-block">Este campo es obligatorio.</span>
        <span ng-message="maxlength" class="help-block">La información excede el límite de longitud permitido.</span>
        <span ng-message="minlength" class="help-block">La información es demasiado corta.</span>
        <span ng-message="date" class="help-block">La fecha es incorrecta.</span>
        <span ng-message="url" class="help-block">Se requiere la dirección completa de internet (comúnmente iniciando con "http://").</span>
        <span ng-message="pattern" class="help-block">El formato de este campo es incorrecto.</span>
    </script>

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            {{match.model.apellido}}, {{match.model.nombre}}
        </a>
    </script>

    <h1 class="color-title" ng-if="!edit">Agregar nueva publicación</h1>
    <h1 class="color-title" ng-if="edit">Editar publicacion</h1>

    <!-- Formulario para agregar una nueva publicacion a la base de datos -->
    <form name="publicacionForm" id="publicacionForm" role="form" novalidate>
        <!-- TITULO DE LA PUBLICACION -->
        <div class="form-group" ng-class="{'has-error': publicacionForm.titulo.$dirty && publicacionForm.titulo.$invalid}">
            <label class="control-label color-title format-title" for="titulo">Título</label>
            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="" ng-model="publicacion.titulo" ng-trim required>
            <div ng-messages="publicacionForm.titulo.$error" ng-show="publicacionForm.titulo.$dirty && publicacionForm.titulo.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>

        <!-- AUTORES -->
        <div class="form-group" ng-class="{'has-error': publicacionForm.autor.$dirty && publicacionForm.autor.$invalid}">
            <label class="control-label color-title format-title" for="autor">Autor(es)</label>
            <input class="form-control" type="text" name="autor" id="autor" placeholder="" ng-model="asyncAutorInput" uib-typeahead="autor.apellido + ', ' + autor.nombre for autor in getAutor($viewValue)" typeahead-loading="loadingAutores" typeahead-no-results="noResults" typeahead-template-url="customTemplate.html" typeahead-on-select="onSelectAutor($item, $model, $label, $event)">
            <i class="fa fa-spinner fa-spin fa-fw" ng-show="loadingAutores"></i>
            <div ng-show="noResults">
                <p class="spacing-text-alert">
                    <i class="fa fa-times" aria-hidden="true"></i> No se encontraron resultados. <a href="" ng-click="showAutorForm()">Registra al autor</a>
                </p>
                <div class="container-fluid subform-autor" ng-show="addingAuthor">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <input type="text" class="form-control" ng-model="autor.nombre" placeholder="Nombre(s) del autor">
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <input type="text" class="form-control" ng-model="autor.apellido" placeholder="Apellido(s) del autor">
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <button class="btn btn-default" ng-click="addAutor()" ng-disabled="!autor.nombre && !autor.apellido">Registrar autor</button>
                        </div>
                    </div>
                </div>
            </div>
            <ol ng-show="autores && autores.length > 0">
                <li ng-repeat="autor in autores">
                    <span ng-show="autor.apellido">{{autor.apellido}}, </span>{{autor.nombre}} 
                    <span ng-show="autores && autores.length > 1">
                        <button class="btn btn-link" ng-show="!$first" ng-click="orderUpAutor($index)" alt="Subir autor"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button class="btn btn-link" ng-show="!$last" ng-click="orderDownAutor($index)" alt="Bajar autor"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        <button class="btn btn-link btn-delete-color" ng-click="removeAutor($index)" alt="Quitar autor"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </span>
                </li>
            </ol>
        </div>

        <!-- TIPO -->
        <div class="form-group" ng-class="{'has-error': publicacionForm.tipo.$dirty && publicacionForm.tipo.$invalid}">
            <label class="control-label color-title format-title" for="tipo">Tipo</label>
            <select class="form-control" id="tipo" ng-model="publicacion.tipo" required>
                <!-- <option value=""></option> -->
                <option value="Documental">Documental</option>
                <option value="Artículo">Artículo</option>
                <option value="Libro">Libro</option>
                <option value="Ponencia">Ponencia</option>
                <!-- <option value="Incollection">Incollection</option>
                <option value="Manual">Manual</option>
                <option value="Tesis">Tesis</option> -->
                <option value="Página web">Página web</option>
                <!-- <option value="No especificado">No especificado</option> -->
            </select>
            <div ng-messages="publicacionForm.tipo.$error" ng-show="publicacionForm.tipo.$dirty && publicacionForm.tipo.$invalid"><div ng-messages-include="error-messages"></div></div>
        </div>
        
        <div ng-show="publicacion.tipo"><!-- Contenedor de campos hasta que se elija el tipo de publicación -->

            <!-- FECHA -->
            <div class="form-group">
                <label class="control-label color-title format-title" for="fecha">Fecha</label>
                <div class="input-group">
                    <!-- DATEPICKER POPUP BUG: no muestra fecha hasta volver a dar clic en el calendario: -->
                    <!-- <input id="fecha" class="form-control" type="text" uib-datepicker-popup="yyyy" ng-model="publicacion.fecha" datepicker-options="dateOptions" is-open="calendar.open" show-button-bar="false">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span> -->
                    <div id="fecha" class="well well-sm" uib-datepicker ng-model="publicacion.fecha" datepicker-options="dateOptions"></div>
                </div>
            </div>

            <!-- PUBLISHER -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.publisher.$dirty && publicacionForm.publisher.$invalid}" ng-show="publicacion.tipo === 'Libro'">
                <label class="control-label color-title format-title" for="publisher">Editorial</label>
                <input class="form-control" type="text" name="publisher" id="publisher" placeholder="" ng-model="publicacion.publisher" ng-trim>
                <div ng-messages="publicacionForm.publisher.$error" ng-show="publicacionForm.publisher.$dirty && publicacionForm.publisher.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- JOURNAL -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.journal.$dirty && publicacionForm.journal.$invalid}" ng-show="publicacion.tipo === 'Artículo'">
                <label class="control-label color-title format-title" for="journal">Journal / Revista</label>
                <input class="form-control" type="text" name="journal" id="journal" placeholder="" ng-model="publicacion.journal" ng-trim>
                <div ng-messages="publicacionForm.journal.$error" ng-show="publicacionForm.journal.$dirty && publicacionForm.journal.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- VOLUMEN -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.volumen.$dirty && publicacionForm.volumen.$invalid}" ng-show="publicacion.tipo === 'Artículo' || publicacion.tipo === 'Libro'">
                <label class="control-label color-title format-title" for="volumen">Volumen</label>
                <input class="form-control" type="text" name="volumen" id="volumen" placeholder="" ng-model="publicacion.volumen" ng-trim>
                <div ng-messages="publicacionForm.volumen.$error" ng-show="publicacionForm.volumen.$dirty && publicacionForm.volumen.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- NÚMERO -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.numero.$dirty && publicacionForm.numero.$invalid}" ng-show="publicacion.tipo === 'Artículo'">
                <label class="control-label color-title format-title" for="numero">Número</label>
                <input class="form-control" type="text" name="numero" id="numero" placeholder="" ng-model="publicacion.numero" ng-trim>
                <div ng-messages="publicacionForm.numero.$error" ng-show="publicacionForm.numero.$dirty && publicacionForm.numero.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- PÁGINAS -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.paginas.$dirty && publicacionForm.paginas.$invalid}" ng-show="publicacion.tipo === 'Artículo' || publicacion.tipo === 'Ponencia'">
                <label class="control-label color-title format-title" for="paginas">Páginas</label>
                <input class="form-control" type="text" name="paginas" id="paginas" placeholder="" ng-model="publicacion.paginas" ng-trim>
                <div ng-messages="publicacionForm.paginas.$error" ng-show="publicacionForm.paginas.$dirty && publicacionForm.paginas.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- BOOKTITLE --> <!-- Libro o publicación a la que pertenece -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.booktitle.$dirty && publicacionForm.booktitle.$invalid}" ng-show="publicacion.tipo === 'Artículo'">
                <label class="control-label color-title format-title" for="booktitle">Booktitle</label>
                <input class="form-control" type="text" name="booktitle" id="booktitle" placeholder="" ng-model="publicacion.booktitle" ng-trim>
                <div ng-messages="publicacionForm.booktitle.$error" ng-show="publicacionForm.booktitle.$dirty && publicacionForm.booktitle.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- COLECCION -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.coleccion.$dirty && publicacionForm.coleccion.$invalid}" ng-show="publicacion.tipo === 'Artículo'">
                <label class="control-label color-title format-title" for="coleccion">Colección</label>
                <input class="form-control" type="text" name="coleccion" id="coleccion" placeholder="" ng-model="publicacion.coleccion" ng-trim>
                <div ng-messages="publicacionForm.coleccion.$error" ng-show="publicacionForm.coleccion.$dirty && publicacionForm.coleccion.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- ISBN -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.isbn.$dirty && publicacionForm.isbn.$invalid}" ng-show="publicacion.tipo === 'Libro'">
                <label class="control-label color-title format-title" for="isbn">ISBN</label>
                <input class="form-control" type="text" name="isbn" id="isbn" placeholder="" ng-model="publicacion.isbn" ng-trim>
                <div ng-messages="publicacionForm.isbn.$error" ng-show="publicacionForm.isbn.$dirty && publicacionForm.isbn.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- DESCRIPCIÓN -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.descripcion.$dirty && publicacionForm.descripcion.$invalid}">
                <label class="control-label color-title format-title" for="descripcion">Descripción</label>
                <textarea class="form-control" name="descripcion" id="descripcion" rows="2" placeholder="" ng-model="publicacion.descripcion" ng-trim></textarea>
                <div ng-messages="publicacionForm.descripcion.$error" ng-show="publicacionForm.descripcion.$dirty && publicacionForm.descripcion.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- ABSTRACT -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.abstract.$dirty && publicacionForm.abstract.$invalid}" ng-show="publicacion.tipo != 'Página web'">
                <label class="control-label color-title format-title" for="abstract">Abstract / Resumen</label>
                <textarea class="form-control" name="abstract" id="abstract" rows="3" placeholder="" ng-model="publicacion.abstract" ng-trim></textarea>
                <div ng-messages="publicacionForm.abstract.$error" ng-show="publicacionForm.abstract.$dirty && publicacionForm.abstract.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- URL -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.url.$dirty && publicacionForm.url.$invalid}">
                <label class="control-label color-title format-title" for="url">URL</label>
                <input class="form-control" type="url" name="url" id="url" placeholder="" ng-model="publicacion.url" ng-trim>
                <div ng-messages="publicacionForm.url.$error" ng-show="publicacionForm.url.$dirty && publicacionForm.url.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- KEYWORDS -->
            <div class="form-group">
                <label class="control-label color-title format-title" for="keywords">Palabras clave</label>
                <tags-input ng-model="keywords" name="keywords" id="keywords" type="text" placeholder="Agrega una etiqueta" replace-spaces-with-dashes="false" add-from-autocomplete-only="false" spellcheck="false" ng-blur="updateKeywords()">
                    <auto-complete source="loadTags($query)" display-property="text" min-length="1" max-results-to-show="5"></auto-complete>
                </tags-input>
            </div>

            <!-- NOTAS -->
            <div class="form-group" ng-class="{'has-error': publicacionForm.notas.$dirty && publicacionForm.notas.$invalid}">
                <label class="control-label color-title format-title" for="notas">Notas</label>
                <textarea class="form-control" name="notas" id="notas" rows="2" placeholder="" ng-model="publicacion.notas" ng-trim></textarea>
                <div ng-messages="publicacionForm.notas.$error" ng-show="publicacionForm.notas.$dirty && publicacionForm.notas.$invalid"><div ng-messages-include="error-messages"></div></div>
            </div>

            <!-- IMAGEN -->
            <div class="form-group">
                <label class="control-label color-title format-title" for="imagen">Imagen</label>
                <!-- Detalles del componente: https://github.com/danialfarid/ng-file-upload -->
                <div class="drag-drop-area" ngf-select="uploadImage($file)" ngf-drop="uploadImage($file)" ng-model="imagen" ng-show="imageContainer" name="imagen" id="imagen" ngf-capture="'camera'" ngf-accept="'image/*'" ngf-pattern="'image/*'"><i class="fa fa-file-image-o"></i> Selecciona o arrastra imagen</div>
                <!--Previsualización de imagen-->
                <img class="preview full-width" ng-show="publicacion.imagen" src="imgs/publicaciones/{{publicacion.imagen}}">
                <button type="button" class="btn btn-danger" ng-show="publicacion.imagen" ng-click="deleteImage()">Eliminar <i class="fa fa-times" aria-hidden="true"></i></button>
            </div>

            <!-- ARCHIVOS ADJUNTOS -->
            <div class="form-group">
                <label class="control-label color-title format-title" for="ajduntos">Archivos adjuntos</label>
                <button type="button" class="btn btn-default full-width" name="adjuntos" id="adjuntos" ngf-select="uploadFiles($files)" ng-model="adjuntosModel" ngf-multiple="true" ngf-keep="'distinct'" ngf-accept="'image/*,.pdf,.doc,.docx'" ngf-max-files="10" ngf-pattern="'image/*,.pdf,.doc,.docx'" ngf-max-size="'100MB'" ngf-max-total-size="'200MB'">Selecciona archivos...</button>
                <div class="files-upload">
                    <ul>
                        <li ng-repeat="adjunto in adjuntos">
                            {{adjunto.filename}} <button class="btn btn-danger btn-sm" ng-click="deleteFile(adjunto)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- Contenedor de campos hasta que se elija el tipo de publicación -->
        
        <button type="submit" class="btn btn-primary" ng-if="!edit" ng-disabled="publicacionForm.$invalid" ng-click="enviar()">Agregar publicacion</button>
        <button type="submit" class="btn btn-primary" ng-if="edit" ng-disabled="publicacionForm.$invalid" ng-click="editar()">Editar publicacion</button>
    </form>

    <!-- <br>
    <pre>{{publicacion | json}}</pre>
    <br>
    <pre>{{adjuntos | json}}</pre> -->
</div>