<!-- Página con las publicaciones del LAIS -->

<div class="container my-container">
    <h1 class="color-title">Publicaciones</h1>

    <h3 ng-if="autorObject">{{autorObject.nombre + ' ' + autorObject.apellido}}</h3>

    <div ng-repeat="agrupacion in publicaciones">
        <blockquote class="blockquote-decoration">
            {{agrupacion._id | date: 'yyyy'}}
        </blockquote>
        
        <ul class="list-unstyled" ng-repeat="publicacion in agrupacion.publicaciones">
            <li>
                <!-- DOCUMENTAL, PONENCIA O PAGINA WEB -->
                <span ng-if="publicacion.tipo === 'Documental' || publicacion.tipo === 'Ponencia' || publicacion.tipo === 'Página web'">
                    <span ng-repeat="autor in publicacion.autor"><a href="publicaciones?autor={{autor._id}}">{{stylizeName(autor.nombre, autor.apellido)}}</a><span ng-if="!$last">, </span></span> 
                    ({{publicacion.fecha | date: 'yyyy'}}).
                    <a href="publicaciones/{{publicacion._id}}" class="strong-color">
                    <em>{{publicacion.titulo}}</em></a> 
                    <a href="/publicaciones?group=tipo&match={{publicacion.tipo}}"><span class="label label-default">{{publicacion.tipo}}</span></a>
                </span>

                <!-- ARTICULOS -->
                <span ng-if="publicacion.tipo === 'Artículo'">
                    <span ng-repeat="autor in publicacion.autor"><a href="publicaciones?autor={{autor._id}}">{{stylizeName(autor.nombre, autor.apellido)}}</a><span ng-if="!$last">, </span></span> 
                    ({{publicacion.fecha | date: 'yyyy'}}).
                    <a href="publicaciones/{{publicacion._id}}" class="strong-color">{{publicacion.titulo}}</a>. 
                    <span ng-if="publicacion.journal || publicacion.booktitle">
                        <em>{{publicacion.journal}}</em>
                        <em ng-if="!publicacion.journal">{{publicacion.booktitle}}</em>
                        <span ng-if="publicacion.volume"><em>, {{publicacion.volumen}}</em></span>
                        <span ng-if="publicacion.numero">({{publicacion.numero}}). </span>
                        {{publicacion.paginas}}
                    </span>
                    <a href="/publicaciones?group=tipo&match={{publicacion.tipo}}"><span class="label label-default">{{publicacion.tipo}}</span></a>
                </span>

                <!-- LIBROS -->
                <span ng-if="publicacion.tipo === 'Libro'">
                    <span ng-repeat="autor in publicacion.autor"><a href="publicaciones?autor={{autor._id}}">{{stylizeName(autor.nombre, autor.apellido)}}</a><span ng-if="!$last">, </span></span> 
                    ({{publicacion.fecha | date: 'yyyy'}}).
                    <a href="publicaciones/{{publicacion._id}}" class="strong-color">
                    <em>{{publicacion.titulo}}</em></a>. 
                    {{publicacion.publisher}}
                    <a href="/publicaciones?group=tipo&match={{publicacion.tipo}}"><span class="label label-default">{{publicacion.tipo}}</span></a>
                </span>
            </li>
        </ul>
    </div>
</div>