<!-- Página individual para una publicación del LAIS -->

<div class="container" ng-if="!(publicacion && publicacion._id)">
<!-- Mensaje de alerta si $scope.publicacion es vacio (URL ID inválido) -->
    <div uib-alert class="alert-danger" style="margin: 1em 0;">URL de publicación inválida. Consulta la lista completa en la sección <strong><a href="/publicacion" style="color: inherit;">Publicaciones</a></strong>.</div>
</div>

<div class="container my-container" ng-if="publicacion && publicacion._id">

    <h1 class="color-title">
        <center>
            {{publicacion.titulo}}
            <span ng-if="can('update')"><a href="publicacion/{{publicacion._id}}/edit" class="secret-icon"><i class="fa fa-pencil" aria-hidden="true"></i></a></span> 
            <span ng-if="can('delete')"><a href="" class="secret-icon" ng-click="openModal(publicacion)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
        </center>
    </h1>

    <!-- TABLA PARA MOSTRAR EN DISPOSITIVOS NO-MOVILES (XS) -->
    <!-- Una tabla responsiva no se ve bien en pantalla pequeña (hay scroll horizontal) -->
    <div class="table-responsive visible-sm-block visible-md-block visible-lg-block hidden-xs">
	    <table class="table">
	    	<tbody>
	    		<tr>
	    			<td>Título</td>
	    			<td>{{publicacion.titulo}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.booktitle">
	    			<td>Título dentro de publicación </td>
	    			<td>{{publicacion.booktitle}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.autor && publicacion.autor.length > 0">
	    			<td>Autor<span ng-show="publicacion.autor.length > 1">es</span></td>
	    			<td>
	    				<ul class="list-unstyled">
	    					<li ng-repeat="autor in publicacion.autor"><a href="/publicacion?autor={{autor._id}}">{{autor.nombre}} {{autor.apellido}}</a></li>
	    				</ul>
	    			</td>
	    		</tr>
	    		<tr ng-show="publicacion.fecha">
	    			<td>Año </td>
	    			<td>{{publicacion.fecha | date: 'yyyy'}}</td>
	    		</tr>
	    		<tr>
	    			<td>Tipo de publicación </td>
	    			<td>{{publicacion.tipo}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.publisher">
	    			<td>Publisher</td>
	    			<td>{{publicacion.publisher}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.journal">
	    			<td>Journal</td>
	    			<td>{{publicacion.journal}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.numero">
	    			<td>Número</td>
	    			<td>{{publicacion.numero}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.volumen">
	    			<td>Volumen</td>
	    			<td>{{publicacion.volumen}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.paginas">
	    			<td>Páginas</td>
	    			<td>{{publicacion.paginas}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.coleccion">
	    			<td>Colección a la que pertenece</td>
	    			<td>{{publicacion.coleccion}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.isbn">
	    			<td>ISBN</td>
	    			<td>{{publicacion.isbn}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.descripcion">
	    			<td>Descripción</td>
	    			<td>{{publicacion.descripcion}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.abstract">
	    			<td>Abstract</td>
	    			<td>{{publicacion.abstract}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.url">
	    			<td>URL</td>
	    			<td><a href="{{publicacion.url}}" target="_blank">{{publicacion.url}}</a></td>
	    		</tr>
	    		<tr ng-show="publicacion.notas">
	    			<td>Notas</td>
	    			<td>{{publicacion.notas}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.adjuntos && publicacion.adjuntos.length > 0">
	    			<td>Archivos adjuntos</td>
	    			<td>
	    				<ul class="list-unstyled">
	    					<li ng-repeat="adjunto in publicacion.adjuntos"><a href="files/{{adjunto.location + adjunto.filename}}" target="_blank">{{adjunto.filename}}</a></li>
	    				</ul>
	    			</td>
	    		</tr>
	    		<tr ng-show="publicacion.keywords && publicacion.keywords.length > 0">
	    			<td>Palabras clave</td>
	    			<td>{{publicacion.keywords.join(', ')}}</td>
	    		</tr>
	    		<tr ng-show="publicacion.imagen">
	    			<td>Imagen</td>
	    			<td><img src="imgs/publicaciones/{{publicacion.imagen}}" class="imagen-portada"></td>
	    		</tr>
	    	</tbody>
	    </table>
    </div>

    <!-- CONTENEDOR PARA MOSTRAR CONTENIDO EN PANTALLA AMPLIA (NO XS) -->
    <div class="container visible-xs-block hidden-sm hidden-md hidden-lg">
    	<div class="row row-property">
    		<div class="col-xs-12 col-sm-2"><strong>Título</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.titulo}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.booktitle">
    		<div class="col-xs-12 col-sm-2"><strong>Título dentro de publicación</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.booktitle}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.autor && publicacion.autor.length > 0">
    		<div class="col-xs-12 col-sm-2">
    			<strong>Autor<span ng-show="publicacion.autor.length > 1">es</span></strong>
    		</div>
    		<div class="col-xs-12 col-sm-10">
    			<ul class="list-unstyled">
					<li ng-repeat="autor in publicacion.autor"><a href="/publicacion?autor={{autor._id}}">{{autor.nombre}} {{autor.apellido}}</a></li>
				</ul>
    		</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.fecha">
    		<div class="col-xs-12 col-sm-2"><strong>Año</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.fecha | date: 'yyyy'}}</div>
    	</div>
    	<div class="row row-property">
    		<div class="col-xs-12 col-sm-2"><strong>Tipo de publicación</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.tipo}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.publisher">
    		<div class="col-xs-12 col-sm-2"><strong>Publisher</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.publisher}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.journal">
    		<div class="col-xs-12 col-sm-2"><strong>Journal</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.journal}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.numero">
    		<div class="col-xs-12 col-sm-2"><strong>Número</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.numero}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.volumen">
    		<div class="col-xs-12 col-sm-2"><strong>Volumen</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.volumen}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.paginas">
    		<div class="col-xs-12 col-sm-2"><strong>Páginas</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.paginas}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.coleccion">
    		<div class="col-xs-12 col-sm-2"><strong>Colección a la que pertenece</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.coleccion}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.isbn">
    		<div class="col-xs-12 col-sm-2"><strong>ISBN</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.isbn}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.descripcion">
    		<div class="col-xs-12 col-sm-2"><strong>Descripción</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.descripcion}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.abstract">
    		<div class="col-xs-12 col-sm-2"><strong>Abstract</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.abstract}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.url">
    		<div class="col-xs-12 col-sm-2"><strong>URL</strong></div>
    		<div class="col-xs-12 col-sm-10"><a href="{{publicacion.url}}" target="_blank">{{publicacion.url}}</a></div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.notas">
    		<div class="col-xs-12 col-sm-2"><strong>Notas</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.notas}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.adjuntos && publicacion.adjuntos.length > 0">
    		<div class="col-xs-12 col-sm-2"><strong>Archivos adjuntos</strong></div>
    		<div class="col-xs-12 col-sm-10">
    			<ul class="list-unstyled">
					<li ng-repeat="adjunto in publicacion.adjuntos"><a href="files/{{adjunto.location + adjunto.filename}}" target="_blank">{{adjunto.filename}}</a></li>
				</ul>
    		</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.keywords && publicacion.keywords.length > 0">
    		<div class="col-xs-12 col-sm-2"><strong>Palabras clave</strong></div>
    		<div class="col-xs-12 col-sm-10">{{publicacion.keywords.join(', ')}}</div>
    	</div>
    	<div class="row row-property" ng-show="publicacion.imagen">
    		<div class="col-xs-12 col-sm-2"><strong>Imagen</strong></div>
    		<div class="col-xs-12 col-sm-10"><img src="imgs/publicaciones/{{publicacion.imagen}}" class="imagen-portada"></div>
    	</div>
    </div>

    <!-- <br>
    <pre>{{publicacion | json}}</pre> -->

    <!-- Script para usar en Modal -->
    <script type="text/ng-template" id="modal-template.html">
    	<div class="modal-body text-center" id="modal-body">
    		<p>
    			<i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
    			<br>
    			¿Seguro que deseas borrar la publicación "{{publicacion.titulo}}"?
    		</p>
    		<button class="btn btn-primary" type="button" ng-click="deleteConfirmed(publicacion._id)">Borrar</button>
    	</div>
    </script>
</div>