<div class="container my-container">
	<h1>Lista de publicaciones</h1>
	<button class="btn btn-default btn-lg" ng-click="new()"><i class="fa fa-book" aria-hidden="true"></i> Nueva publicación</button>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>
					<a href="" ng-click="sortBy('titulo')">Título</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'titulo' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'titulo' && reverse"></i>
				</th>
				<!-- <th>
					<a href="" ng-click="sortBy('tipo')">Tipo</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'tipo' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'tipo' && reverse"></i>
				</th> -->
				<th>
					<a href="" ng-click="sortBy('fecha')">Año</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'fecha' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'fecha' && reverse"></i>
				</th>
				<th>
					<a href="" ng-click="sortBy('createdAt')">Creado en</a> 
					<i class="fa fa-sort-asc" aria-hidden="true" ng-show="propertyName === 'createdAt' && !reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="propertyName === 'createdAt' && reverse"></i>
				</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="publicacion in publicaciones | orderBy: propertyName: reverse">
				<td><a href="{{'/publicaciones/' + publicacion._id}}">{{publicacion.titulo}}</a></td>
				<!-- <td>{{publicacion.tipo}}</td> -->
				<td>{{publicacion.fecha | date : 'yyyy'}}</td>
				<td>{{publicacion.createdAt | date : 'dd/MM/yy'}}</td>
				<td><button class="btn btn-default btn-xs" ng-click="edit(publicacion._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
				<td><button class="btn btn-danger btn-xs" ng-click="openModal(publicacion)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
			</tr>
		</table>
	</div>

	<!-- Script para usar en Modal -->
    <script type="text/ng-template" id="modal-template.html">
    	<div class="modal-body text-center" id="modal-body">
    		<p>
    			<i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
    			<br>
    			¿Seguro que deseas borrar la publicación {{publicacion.titulo}} ?
    		</p>
    		<button class="btn btn-primary" type="button" ng-click="deleteConfirmed(publicacion._id)">Borrar</button>
    	</div>
    </script>
</div>