<div class="container my-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="color-title">
				Seminarios
			</h2>
		</div>

		<div class="col-xs-12 col-md-6 mb-3">
            <img src="imgs/Seminario_Documental.png" class="img-responsive" style="max-width: 60%; margin: auto;" alt="Seminario Documental e Investigación">
			<!-- <h5 class="color-title">Documental e Investigación</h5> -->
			<p>
                El seminario sobre Documental e investigación es un seminario interinstitucional creado en 2016, donde se estudian los vínculos entre el documental y la investigación que implica su realización, pero sobre todo se promueve la investigación sobre esta forma de narración audiovisual y sus transformaciones y permanencias a lo largo del tiempo, impulsando particularmente la historiografía del documental en México y América Latina. Congrega mensualmente a especialistas y estudiantes de la historia del cine documental, procedentes de diversos países, para revisar y analizar por periodos la producción de documentales en diferentes latitudes y rastrear fuentes primarias que permitan ir construyendo esta historiografía de la región latinoamericana. 
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Híbrido (presencial y en línea).
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                40 horas (11 sesiones mensuales).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea durante enero.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Exposiciones por parte de participantes y discusión grupal.
            </p>
		</div>

		<div class="col-xs-12 col-md-6">
            <img src="imgs/Seminario_Bitacora.png" class="img-responsive" style="max-width: 60%; margin: auto;" alt="Seminario Bitácora Metodológica">
			<!-- <h5 class="color-title">Bitácora metodológica</h5> -->
			<p>
                El Seminario Bitácora Metodológica es un espacio para conocer propuestas documentales contemporáneas con sus realizadoras/es y ampliar la revisión metodológica sobre las articulaciones entre documental e investigación. El énfasis en las formas y procesos de documentación fotográfica y audiovisual en campo, la realización de entrevistas audiovisuales y la documentación de fuentes fotográficas y audiovisuales de archivos diversos, son algunos temas centrales. Congrega  mensualmente a especialistas de diversas disciplinas y estudiantes del documental producido desde 1970 hasta la actualidad.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Híbrido (presencial y en línea).
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                40 horas (11 sesiones mensuales).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea durante enero.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Exposiciones por parte expositores invitadas y discusión grupal.
            </p>
            <!-- <p class="text-center mt-4">
                <a href="https://www.youtube.com/watch?v=GmZURLbL25E&list=PLXkVkbh9Ibe9e3vNrbUeMcJrO7Mli1rSL" target="_blank" class="color-title">Ver sesiones 2023 con Mujeres Documentalistas de México <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
            </p> -->
		</div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>