<div class="container my-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="color-title">
				Seminarios
			</h2>
		</div>

		<div class="col-xs-12 col-md-6 mb-3">
            <img src="imgs/Seminario_Documental.png" class="img-responsive" style="max-width: 75%;" alt="Seminario Documental e Investigación">
			<!-- <h5 class="color-title">Documental e Investigación</h5> -->
			<p>
                Seminario interinstitucional con énfasis en la historiografía del documental, a partir de fuentes primarias.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Híbrido (presencial y en línea).
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                33 horas (11 sesiones mensuales de 3 horas).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea durante enero.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Exposiciones por parte de participantes y discusión grupal.
            </p>
		</div>

		<div class="col-xs-12 col-md-6">
            <img src="imgs/Seminario_Bitacora.png" class="img-responsive" style="max-width: 75%;" alt="Seminario Bitácora Metodológica">
			<!-- <h5 class="color-title">Bitácora metodológica</h5> -->
			<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique. Facilisis mauris sit amet massa. Velit scelerisque in dictum non consectetur a erat nam at. Amet purus gravida quis blandit turpis cursus in. Facilisi etiam dignissim diam quis. Orci porta non pulvinar neque laoreet suspendisse..
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Híbrido (presencial y en línea).
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                33 horas (11 sesiones mensuales de 3 horas).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea durante enero.
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Exposiciones por parte expositores invitadas y discusión grupal.
            </p>
            <p class="text-center mt-4">
                <a href="https://www.youtube.com/watch?v=GmZURLbL25E&list=PLXkVkbh9Ibe9e3vNrbUeMcJrO7Mli1rSL" target="_blank" class="color-title">Ver sesiones 2023 con Mujeres Documentalistas de México <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
            </p>
		</div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>