<div class="container my-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="section-heading">Sitios web</h2>
		</div>
	</div>

	<div class="row">
		<!-- Las columnas de cada sitio tienen diferentes alturas, lo cual provoca problemas de visualización que pueden corregirse con CSS -->
		<!-- URL de referencia: https://stackoverflow.com/questions/22310912/bootstrap-row-with-columns-of-different-height -->
		<div class="col-xs-6 col-md-4 pb-5" ng-repeat="sitio in sitios" style="display: inline-block; float: none;">
			<div class="simply-card">
				<a href="{{sitio.url}}" target="_blank">
					<img src="imgs/{{sitio.img}}" style="display: block !important; margin: auto !important; width: 100% !important; border-radius: 10px 10px 0 0">
				</a>
				<div class="simply-card-container">
					<a href="{{sitio.url}}" target="_blank">
						<h4 class="my-link" style="color: #294f6d;">{{sitio.title}} <span class="glyphicon glyphicon-new-window" aria-hidden="true" style="font-size: 13px; margin-left: 4px;"></span></h4>
					</a>
					<p>{{sitio.text}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
.my-card {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.my-card:hover {
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* Simple card (https://www.w3schools.com/howto/howto_css_cards.asp) */
.simply-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.simply-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.simply-card-container {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
/* .simply-card-img {
	display: block;
	margin: auto;
	width: 100%;
	border-radius: 5px 5px 0 0;
} */

</style>