<div class="container my-container">
	<div class="row">
		<!-- <div class="col-xs-12 text-center">
			<h2 class="color-title">
				Talleres
			</h2>
		</div> -->

        <div class="col-xs-12 text-center">
            <h3>Taller de manejo de equipo audiovisual para la investigación social</h3>
        </div>
        
        <div class="col-xs-12">
            <p>Taller impartido por integrantes del LAIS con el objetivo de conocer las posibilidades del uso de fuentes audiovisuales en la investigación, poniendo énfasis en la creación y procesamiento de este tipo de registros. Introducir a las y los asistentes el manejo de equipo audiovisual como herramienta para la investigación social y la difusión del conocimiento.</p>

            <!-- <p></p> -->

            <p>Modalidad: Presencial en las instalaciones del Instituto Mora (sede Poussin) en la Ciudad de México.</p>
    
            <p>Duración: 25 horas (5 horas diarias durante 1 semana).</p>

            <p>Requisitos: Registro previo en línea, que incluye datos básicos, una carta de motivos y currículum vitae. Durantes las sesiones, puntualidad y llevar equipo audiovisual en caso de contar con alguno (cámara fotográfica, cámara de video, micrófonos, grabadoras, etc.)</p>

            <p>Costo: Gratuito con cupo limitado.</p>

            <p>Forma de trabajo: Exposiciones por parte de talleristas. Equipos de trabajo para ejercicios prácticos.</p>

            <p>Temario:</p>
            <ul>
                <li>Introducción a la investigación social con imágenes</li>
                <li>Componentes de la cámara fotográfica</li>
                <li>Técnicas de exposición fotográfica</li>
                <li>Planos y composición fotográfica</li>
                <li>Imagen digital</li>
                <li>Audio, grabadoras y micrófonos</li>
                <li>La cámara de video</li>
                <li>Archivos digitales de video</li>
                <li>Metodología para realización de entrevistas</li>
                <li>Tipos de entrevista basada en las herramientas audiovisuales</li>
                <li>Proyectos de investigación y fuentes audiovisuales</li>
                <li>Reproducción de documentos</li>
                <li>Trabajo con imágenes de archivo</li>
                <li>Metodología de entrevista con imágenes</li>
                <li>Trabajo de campo de continuidad e incursión</li>
                <li>Registro de espacios en campo</li>
                <li>Procesamiento de los registros en campo</li>
                <li>Triangulación de fuentes</li>
            </ul>
        </div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>