<div class="container my-container">
	<div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="section-heading">Taller de manejo de equipo audiovisual <br class="hidden-xs"> para la investigación social</h2>
        </div>
        
        <div class="col-xs-12">
            <p>
                Taller anual impartido por integrantes del LAIS desde 2003 con el objetivo de conocer las posibilidades del uso de fuentes audiovisuales en la investigación, poniendo énfasis en la creación y procesamiento de este tipo de registros. Introducir a las y los asistentes el manejo de equipo audiovisual como herramienta para la investigación social y la difusión del conocimiento.
            </p>

            <p>
                <span style="font-weight: bold;">Modalidad</span>: 
                Presencial en las instalaciones del Instituto Mora (sede Poussin) en la Ciudad de México.
            </p>
    
            <p>
                <span style="font-weight: bold;">Duración</span>: 
                25 horas (5 horas diarias durante 1 semana).
            </p>

            <p>
                <span style="font-weight: bold;">Requisitos:</span> 
                Registro previo en línea, que incluye datos básicos, una carta de motivos y currículum vitae. Durantes las sesiones, puntualidad y llevar equipo audiovisual en caso de contar con alguno (cámara fotográfica, cámara de video, micrófonos, grabadoras, etc.)
            </p>

            <p>
                <span style="font-weight: bold;">Costo:</span> 
                Gratuito con cupo limitado.
            </p>

            <p>
                <span style="font-weight: bold;">Forma de trabajo:</span> 
                Exposiciones por parte de talleristas. Equipos de trabajo para ejercicios prácticos.
            </p>

            <p>
                <span style="font-weight: bold;">Solicitud:</span> 
                El taller puede solicitarse de manera institucional para realizarse fuera del Instituto Mora.
            </p>

            <p>
                <span style="font-weight: bold;">Temario:</span> 
            </p>

            <ul style="padding-left: 2em; font-size: 14px;">
                <li style="list-style-type: disc;">Introducción a la investigación social con imágenes</li>
                <!-- <li style="list-style-type: disc;">Componentes de la cámara fotográfica</li> -->
                <!-- <li style="list-style-type: disc;">Técnicas de exposición fotográfica</li> -->
                <li style="list-style-type: disc;">Planos y composición fotográfica</li>
                <!-- <li style="list-style-type: disc;">Imagen digital</li> -->
                <li style="list-style-type: disc;">Audio, grabadoras y micrófonos</li>
                <!-- <li style="list-style-type: disc;">La cámara de video</li> -->
                <li style="list-style-type: disc;">Archivos digitales de audio y video</li>
                <!-- <li style="list-style-type: disc;">Metodología para realización de entrevistas</li> -->
                <li style="list-style-type: disc;">Tipos de entrevista audiovisual</li>
                <!-- <li style="list-style-type: disc;">Proyectos de investigación y fuentes audiovisuales</li> -->
                <li style="list-style-type: disc;">Reproducción de documentos</li>
                <li style="list-style-type: disc;">Trabajo con imágenes de archivo</li>
                <li style="list-style-type: disc;">Metodología de entrevista con imágenes</li>
                <!-- <li style="list-style-type: disc;">Trabajo de campo de continuidad e incursión</li> -->
                <!-- <li style="list-style-type: disc;">Registro de espacios en campo</li> -->
                <li style="list-style-type: disc;">Procesamiento de los registros en campo</li>
                <li style="list-style-type: disc;">Triangulación de fuentes</li>
            </ul>
        </div>

        <div ng-repeat="photo in taller" class="col-xs-12 col-sm-4">
            <img src="imgs/{{photo.img}}" class="img-responsive img-thumbnail mx-2 my-1" alt="{{photo.text}}">
        </div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>