<div class="container my-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="color-title">
				Canal de YouTube
			</h2>
		</div>

		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="card grey lighten-2" style="background-color: transparent !important; box-shadow: none;">
				<div class="card-image">
					<img src="imgs/LAIS_logo_700px.png" class="img-responsive" style="display: block; margin: auto; width: 30%;">
				</div>
				<div class="card-content">
					<!-- <span class="card-title" style="color: #294f6d; font-weight: bold;">LAIS</span> -->
					<p class="mb-3">Canal donde se encuentran grabaciones de diversos eventos académicos, actividades, presentaciones y charlas sobre documental e investigación social.</p>
					<a href="https://www.youtube.com/@LAISMORA/" target="_blank" class="btn btn-primary btn-lg btn-block mb-2" role="button" style="background-color: #ff0000; color: #fff">
						<img height="30" width="30" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/youtube.svg" />
						YouTube
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.my-link:hover {
	text-decoration: underline;
}
</style>