/*Titulo principal con lineas decorativas*/
.event-main-title{
	text-align: center;
    width: 100%;
    height: 2em;
    margin: 16px 0;
    padding: 15px 0;
    /*border-bottom-style: solid;
    border-top-style: solid;*/
    color: #ccc;
}

/*Para uso de eventos que aún son disponibles (no han ocurrido aún)*/
.available-label{
	position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(45, 136, 45, 0.80);
    padding: 3px 5px;
    color: #ccc;
    font-size: smaller;
}