/* Contenedor de thumbnails para mostrar todos los eventos*/
/*.grid-listing{
	width: 95%;
}*/

/*Input de búsqueda de eventos*/
#buscador{
	margin-top: 5%;
}

.thumbnail{
	background-color: #eee;
}

/*Imagen que se muestra en grid de eventos*/
/*.thumbnail-image{
	height: 240px;
	width: auto;
}*/
.thumbnail > img.thumbnail-image{
	height: 240px;
	width: auto;
}

/*Texto que se muestra en grid de eventos*/
.thumbnail-text{
	height: 220px;
}

/*Efecto(s) al estar sobre el thumbnail de un evento*/
a.thumbnail-link:hover{
	text-decoration: none;
}
a.thumbnail-link:hover .thumbnail{
	background: rgba(238,238,238,0.85);
	background: linear-gradient(rgba(238,238,238,0.6) 0%, rgba(238,238,238,1) 80%);
}

/*Para uso de eventos que aún son disponibles (no han ocurrido aún)*/
.available-label{
	position: absolute;
    top: 6px;
    right: 20px;
    background-color: rgba(45, 136, 45, 0.80);
    padding: 3px 5px;
    color: #ccc;
    font-size: smaller;
}