/*Titulo principal con lineas decorativas*/
.event-main-title{
	text-align: center;
    width: 100%;
    height: 2em;
    margin: 16px 0;
    padding: 15px 0;
    /*border-bottom-style: solid;
    border-top-style: solid;*/
    color: #ccc;
}

/*Para uso de eventos que aún son disponibles (no han ocurrido aún)*/
.available-label{
	position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(45, 136, 45, 0.80);
    padding: 3px 5px;
    color: #ccc;
    font-size: smaller;
}

/*Bootstrap Affix component*/
.affix {
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
}


/*Color de texto sobre tab activo*/
.tab-style-years.active a, .tab-style-years.active a:hover{
    color: #555 !important;
    background-color: #ddd !important;
}
/*Color de texto y borde redondo de tabs*/
.tab-style-years a{
    color: #ddd !important;
    border-radius: 25px !important;
}
/*No aplicar color de fondo al pasar el mouse*/
.tab-style-years a:hover{
    background-color: transparent !important;
}

/*Ventana auxiliar (modal). Se usa la clase .modal-publication para solo sobreescribir esta instancia de modal*/
.modal-publication div .modal-content{
    background-color: rgba(238, 238, 238, 0.95);
}

.modal-publication div .modal-content .modal-body, .modal-publication div .modal-content .modal-body p{
    font-size: 1.5em !important; /*TODO: Cambiar realmente el tamaño de las fuentes dentro de modal*/
}

/*
####################
PRECAUCIÓN! Clases nav y nav-tabs modificadas globalmente para estilo de la barra de años en Eventos
####################
*/
.nav-tabs{
    border-bottom: 0px solid #222 !important;
}
.nav{
    margin-bottom: 10px;
}