/*Seccion del body completo*/
body{
	background-color: rgba(0, 0, 0, 0.865);
}

/*Footer*/
footer{
	background-color: white;
}

/* Margen superior e inferior para el contenido de cada página dentro de <div ng-view>*/
[ng-view]{
  margin-top: 8em;
  margin-bottom: 2em;
}

/*Secciones de las etiquestas de los dropdowns menu*/
#seclabel{
	color: black;
}

/*Icono de usario para iniciar sesion*/
/*#imgUser{
	vertical-align: middle;
    margin-top: -6px;
    margin-right: 20px;
}*/

/*Icono dentro del stack(user)*/
/*#iconUser{
	margin-top: -6%;
}*/

/* Seccion del logo */
#secLogo{
	width: 48%;
	margin-top: -20%;

}

/*Estilo a usar en dispositivos no-móviles (ancho > 768px)*/
@media (min-width: 768px) {
	/*Correccion para que el lado derecho del menu no quede pegado al borde*/
	.nav{
		padding-right: 15px;
	}
}