/*Seccion del body completo*/
body{
	background-color: #819E87;
}

/*Footer*/
footer{
	background-color: white;
}



/*Secciones de las etiquestas de los dropdowns menu*/
#seclabel{
	color: black;
}

/*Icono de usario para iniciar sesion*/
#imgUser{
	vertical-align: middle;
    margin-top: -6px;
    margin-right: 20px;
}

/*Icono dentro del stack(user)*/
#iconUser{
	margin-top: -6%;
}

/* Seccion del logo */
#secLogo{
	margin-left: 3%;
}