/*Seccion del body completo*/
body{
	background-color: #819E87;
}

/*Footer*/
footer{
	background-color: white;
}

/* Margen superior e inferior para el contenido de cada página dentro de <div ng-view>*/
[ng-view]{
  margin-top: 8em;
  margin-bottom: 2em;
}

/*Secciones de las etiquestas de los dropdowns menu*/
#seclabel{
	color: black;
}

/*Icono de usario para iniciar sesion*/
/*#imgUser{
	vertical-align: middle;
    margin-top: -6px;
    margin-right: 20px;
}*/

/*Icono dentro del stack(user)*/
/*#iconUser{
	margin-top: -6%;
}*/

/* Seccion del logo */
#secLogo{
	width: 48%;
	margin-top: -20%;

}