/*Alineación (centrada) de la imagen dentro del slide*/
.slide-img{
	/*display: block;*/
	margin: auto;
	height: 550px !important;
}

/*controla la separación del margin-top con la sección del carusel con respecto del navbar*/
#secCarrusel{
	margin-top: -7%;
}

/*Tipografía utilizado en los textos de cada slide*/
.carousel-caption{
	font-family: 'Roboto Slab', serif;
}

/*Cambiar el background de la seccion de historia*/
#historia{
	background-color: white;
}

/* Controla el tamaño de las imagenes de recursos en linea(metadoc, huellas de luz,..)*/
.imagen{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#headerIcon{
	margin-top: -3%;
}

#iconoLAIS{
	margin-top: -91%;
}