
/*Cambiar el background de la seccion de historia*/
#historia{
	background-color: white;
}

/*controla la separación del margin-top con la sección del carusel con respecto del navbar*/
#secCarrusel{
	margin-top:-7%;
}

/*Controla el tamaño del carusel de eventos*/
#carrusel{
	width: 72%;
	margin-top: -1%;
}

/* Controla el tamaño de las imagenes de recursos en linea(metadoc, huellas de luz,..)*/
.imagen{
	width: 250px;
	height: 250px;
	display: inline-block;
}