/* ########## PARA VISUALIZAR Y REGISTRAR PUBLICACIONES ########## */

/*Estilo en el título (centrar el texto)*/
.title-style{
	text-align: center;
	color: #ccc;
}

/*Color para icono de borrado en autores*/
.btn-delete-color{
	color: #d9534f;
}

/*Espaciado superior e inferior en mensaje de alerta (no hay resultados de autor)*/
.spacing-text-alert{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Margen, espaciado y color para el formulario "Registrar autor"*/
.subform-autor{
	background-color: #dedede;
	padding: 15px;
	margin-bottom: 1em;
}

/*Cada una de las propiedades de la publicación (en tamaño xs)*/
.row-property{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top-style: solid;
	border-top-color: rgba(0,0,0,0.1);
	border-top-width: 1px;
}
/*Imagen responsiva (max-width: 100% está en estilo de <img>)*/
.imagen-portada{
	max-height: 400px;
}

/*Estilo a usar en tamaño sm, md, lg*/
@media screen and (min-width: 768px){
	/*Se disminuye ligeramente el tamaño de fuente*/
	.publication-title{
		font-size: 1.2em;
	}
	.publication-autor{
		font-size: 0.9em;
	}
	.publication-date{
		font-size: 1em;
	}
}