/* ########## PARA VISUALIZAR Y REGISTRAR PUBLICACIONES ########## */

/*Estilo en el título (centrar el texto)*/
.title-style{
	text-align: center;
}

/*Color para icono de borrado en autores*/
.btn-delete-color{
	color: #d9534f;
}

/*Espaciado superior e inferior en mensaje de alerta (no hay resultados de autor)*/
.spacing-text-alert{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Margen, espaciado y color para el formulario "Registrar autor"*/
.subform-autor{
	background-color: #dedede;
	padding: 15px;
	margin-bottom: 1em;
}

/*Decoración de fondo en cada año*/
/*.blockquote-decoration{
	border-left: 5px solid #666;
	background-color: #ddd;
}*/

/*Permite centrar elementos (ejemplo: .my-block-button)*/
.centering{
	text-align: center;
}
/*Simula un botón ancho*/
.my-block-button{
	border: none;
	outline: 0;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 15px;
	display: inline-block;
	width: 95%;
	width: calc(100% - 30px); /*15+15px margin left&right*/
}
/*Efecto de sombra*/
.my-block-button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Espacio para mostrar publicación con imagen
Se emplean publication-container, publication-cover y publication-info*/
.publication-container{ /*contenedor principal*/
	height: 305px;
	width: 100%;
	margin-bottom: 20px;
	position: relative; /*para alinear texto posteriormente*/
}
.publication-cover{ /*espacio para portada*/
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}
.publication-cover img{
	width: 100%;
}
.publication-info{ /*espacio para texto*/
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 1.2em;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: #eee;
}

/*Definir tamaños, espacios y alineación de cada recuardo.
También se define el tamaño individual del título, autor, fecha*/
.publication-thumbnail{
	height: 305px;
	width: 100%;
	padding: 1em;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}
.publication-title{
	font-size: 1.3em;
	font-weight: bold;
}
.publication-autor{
	font-size: 1em;
}
.publication-date{
	font-size: 1.2em;
}

/*Color de fondo y de texto si la publicación es un ARTICULO*/
.color-article{
	background: #133175;
	background: -webkit-linear-gradient(#133175, #0E4671);
	background: -o-linear-gradient(#133175, #0E4671);
	background: -moz-linear-gradient(#133175, #0E4671);
	background: linear-gradient(#133175, #0E4671);
}
.color-article-title{
	color: #F0A32F;
}
.color-article-autor{
	color: #FFF;
}
.color-article-date{
	color: #BBB;
}

/*Color de fondo y de texto si la publicación es un LIBRO*/
.color-book{
	background: #19197B;
	background: -webkit-linear-gradient(#19197B, #132F76);
	background: -o-linear-gradient(#19197B, #132F76);
	background: -moz-linear-gradient(#19197B, #132F76);
	background: linear-gradient(#19197B, #132F76);
}
.color-book-title{
	color: #F0A32F;
}
.color-book-autor{
	color: #FFF;
}
.color-book-date{
	color: #BBB;
}

/*Color de fondo y de texto si la publicación es un DOCUMENTAL*/
.color-documentary{
	background: #0E4671;
	background: -webkit-linear-gradient(#0E4671, #07666A);
	background: -o-linear-gradient(#0E4671, #07666A);
	background: -moz-linear-gradient(#0E4671, #07666A);
	background: linear-gradient(#0E4671, #07666A);
}
.color-documentary-title{
	color: #F0A32F;
}
.color-documentary-autor{
	color: #FFF;
}
.color-documentary-date{
	color: #BBB;
}

/*Color de fondo y de texto si la publicación es una PONENCIA*/
.color-lecture{
	background: #2C1479;
	background: -webkit-linear-gradient(#2C1479, #1B197A);
	background: -o-linear-gradient(#2C1479, #1B197A);
	background: -moz-linear-gradient(#2C1479, #1B197A);
	background: linear-gradient(#2C1479, #1B197A);
}
.color-lecture-title{
	color: #F0A32F;
}
.color-lecture-autor{
	color: #FFF;
}
.color-lecture-date{
	color: #BBB;
}

/*Color de fondo y de texto si la publicación es una PAGINA WEB*/
.color-website{
	background: #076969;
	background: -webkit-linear-gradient(#076969, #07774A);
	background: -o-linear-gradient(#076969, #07774A);
	background: -moz-linear-gradient(#076969, #07774A);
	background: linear-gradient(#076969, #07774A);
}
.color-website-title{
	color: #F0A32F;
}
.color-website-autor{
	color: #FFF;
}
.color-website-date{
	color: #BBB;
}

/*Color de fondo y de texto si la publicación no tiene un tipo definido*/
.color-default{
	background: #666;
	background: -webkit-linear-gradient(#666, #999);
	background: -o-linear-gradient(#666, #999);
	background: -moz-linear-gradient(#666, #999);
	background: linear-gradient(#666, #999);
}
.color-default-title{
	color: #EEE;
}
.color-default-autor{
	color: #FFF;
}
.color-default-date{
	color: #BBB;
}


/*Cada una de las propiedades de la publicación (en tamaño xs)*/
.row-property{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top-style: solid;
	border-top-color: rgba(0,0,0,0.1);
	border-top-width: 1px;
}
/*Imagen responsiva (max-width: 100% está en estilo de <img>)*/
.imagen-portada{
	max-height: 400px;
}

/*Estilo a usar en tamaño sm, md, lg*/
@media screen and (min-width: 768px){
	/*Se disminuye ligeramente el tamaño de fuente*/
	.publication-title{
		font-size: 1.2em;
	}
	.publication-autor{
		font-size: 0.9em;
	}
	.publication-date{
		font-size: 1em;
	}
}